$fb: 30px;
$fp: 16px;
$cl: #F81C29;
$cl2: #D80713;
$cl3: #BE000B;
$cl_dis: #D2D2D2;
$tx: #000;
$tx2: #363636;
$ff: 'Rubik', sans-serif;

@import 'parts/00_mixins';
@import 'parts/01_reset';
@import 'parts/02_classes';
@import 'parts/03_ui_kit';
@import 'parts/04_apps';
@import 'parts/05_header';
@import 'parts/06_footer';

@import 'templates/00_tpl_parts';
@import 'templates/04_tpl_why_we';
@import 'templates/05_tpl_reviews';
@import 'templates/06_tpl_methodology';
@import 'templates/07_tpl_teachers';
@import 'templates/08_tpl_contact';
@import 'templates/09_tpl_for_teachers';
@import 'templates/10_tpl_for_partners';
@import 'templates/11_tpl_faq';
@import 'templates/12_tpl_trial_lesson';
@import 'templates/13_tpl_sales';
@import 'templates/14_tpl_course';
@import 'templates/15_webinars';
@import 'templates/16_nanotest';
@import 'templates/17_regular_test';
@import 'templates/18_regular_test_thank';


/* Temporary styles */
.reviews {
  display: none;
}

.play_icon {
  visibility: hidden;
}