body, html {
    height: 100%;
    margin: 0;
    min-height: 100%;
    overflow: auto;
    padding: 0;
    /*position: absolute;*/
    width: 100%;
}
body {
    background: #eef0f3;
    -webkit-background-size: cover;
    -khtml-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}
.login form {
    color: #717171;
    background: #fff;
    border: 1px solid #d5dce9;
    padding: 20px 20px 30px;
    border-radius: 12px;
}
.login h1 a {
    background-image: url(logo.svg);
    background-size: 200px;
    width: 100%;
    height: 40px;
}
.login label {
    color: #717171;
}
.login p a {
    border: 1px solid rgba(255, 255, 255, 0);
    -webkit-box-shadow: 0 9px 18px rgba(69, 34, 75, 0);
    -moz-box-shadow: 0 9px 18px rgba(69, 34, 75, 0);
    box-shadow: 0 9px 18px rgba(69, 34, 75, 0);
    color: #000 !important;
    display: inline-block;
    font: 300 13px/20px "Open Sans","Arial",sans-serif;
    vertical-align: top;
    text-shadow: none;
    padding: 0 10px;
}
.login p a:hover {
    background: transparent;
    color: #f81c29;
}
.login .button {
    float: none;
    text-shadow: none;
    background: #f81c29 !important;
    border: 0 !important;
    color: #fff;
    cursor: pointer;
    display: block;
    font: 300 14px/38px "Open Sans","Arial",sans-serif !important;
    text-align: center;
    text-transform: uppercase;
    min-width: 160px;
    height: auto !important;
    margin: 20px auto 0;
    vertical-align: middle;
    padding: 0 16px;
    border-radius: 6px;
    transition: all .3s ease;
}
.login .button:hover {background: #d80713 !important;}
.login form .forgetmenot {
    float: none;
    text-align: center;
}
#login_error, .login .message, .login #login_error {
    background: rgba(0, 0, 0, 0.25);
    border-color: #444;
    color: #fff;
}

input[type=checkbox]:focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime-local]:focus, input[type=datetime]:focus, input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, input[type=password]:focus, input[type=radio]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus, select:focus, textarea:focus {
    border-color: inherit;
    box-shadow: none;
    outline: none;
}

.login #backtoblog, .login #nav {
    text-align: center;
}

.login .button.wp-hide-pw {
    max-height: 40px;
}

.wp-core-ui .button-secondary:hover, .wp-core-ui .button.hover, .wp-core-ui .button:hover {
    background: #d80713 !important;
    color: #fff;
}