// theme classes
.hide {
  display: none!important;
}
.hide_mob {
  @include rwd-max(1024) {
    display: none!important;
  }
}
.hide_desk {
  @include rwd-min(1025) {
    display: none!important;
  }
}

// flex classes
.flex {
  @include flexbox;
  @include align-items(center);
  @include justify-content(space-between);
}
.flex__rwd {
  @include rwd-min(1025) {
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);
  }
}
.flex__mob {
  @include rwd-min(768) {
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);
  }
}

.flex_start {
  @include flexbox;
  @include align-items(flex-start);
  @include justify-content(space-between);
}
.flex_start__rwd {
  @include rwd-min(1025) {
    @include flexbox;
    @include align-items(flex-start);
    @include justify-content(space-between);
  }
}
.flex_start__mob {
  @include rwd-min(768) {
    @include flexbox;
    @include align-items(flex-start);
    @include justify-content(space-between);
  }
}

.flex_center {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
}
.flex_center__rwd {
  @include rwd-min(1025) {
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
  }
}
.flex_center__mob {
  @include rwd-min(768) {
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
  }
}
.flex_column {
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(space-between);
}



// 12_column grid
.flex_grid {
  @include flexbox;
  margin: 0 calc(var(--grid-gap) / -2);
  > * {margin: 0 calc(var(--grid-gap)/2)}
}
.flex_grid__rwd {
  @include rwd-min(1025) {
    @include flexbox;
    margin: 0 calc(var(--grid-gap) / -2);
    > * {margin: 0 calc(var(--grid-gap)/2)}
  }
}
.flex_grid__mob {
  @include rwd-min(768) {
    @include flexbox;
    margin: 0 calc(var(--grid-gap) / -2);
    > * {margin: 0 calc(var(--grid-gap)/2)}
  }
}
[class*="flex_grid"] {
  --grid-gap: #{rem(20)};
  @include flex-wrap(wrap);
  margin-bottom: calc(var(--grid-gap) * -1);
  &._nowrap {@include flex-wrap(nowrap)}
  > * {
    @include flex(1);
    margin-bottom: calc(var(--grid-gap));
    &._col_1 {@include flex(0 0 calc(100%/12 - var(--grid-gap)))}
    &._col_2 {@include flex(0 0 calc(100%/12*2 - var(--grid-gap)))}
    &._col_3 {@include flex(0 0 calc(100%/12*3 - var(--grid-gap)))}
    &._col_4 {@include flex(0 0 calc(100%/12*4 - var(--grid-gap)))}
    &._col_5 {@include flex(0 0 calc(100%/12*5 - var(--grid-gap)))}
    &._col_6 {@include flex(0 0 calc(100%/12*6 - var(--grid-gap)))}
    &._col_7 {@include flex(0 0 calc(100%/12*7 - var(--grid-gap)))}
    &._col_8 {@include flex(0 0 calc(100%/12*8 - var(--grid-gap)))}
    &._col_9 {@include flex(0 0 calc(100%/12*9 - var(--grid-gap)))}
    &._col_10 {@include flex(0 0 calc(100%/12*10 - var(--grid-gap)))}
    &._col_11 {@include flex(0 0 calc(100%/12*11 - var(--grid-gap)))}
    &._col_12 {@include flex(0 0 calc(100% - var(--grid-gap)))}
    @include rwd-max(1024) {
      &.__rwd {@include flex(1)}
      &.__25_rwd {@include flex(0 0 calc(25% - var(--grid-gap)))}
      &.__33_rwd {@include flex(0 0 calc(33.333% - var(--grid-gap)))}
      &.__50_rwd {@include flex(0 0 calc(50% - var(--grid-gap)))}
      &.__full_rwd {@include flex(0 0 calc(100% - var(--grid-gap)))}
    }
    @include rwd-max(767) {
      &.__mob {@include flex(1)}
      &.__25_mob {@include flex(0 0 calc(25% - var(--grid-gap)))}
      &.__33_mob {@include flex(0 0 calc(33.333% - var(--grid-gap)))}
      &.__50_mob {@include flex(0 0 calc(50% - var(--grid-gap)))}
      &.__full_mob {@include flex(0 0 calc(100% - var(--grid-gap)))}
    }
  }
}



// useful classes
.bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.last_no_spacing > *:last-child:not(.button) {
  margin-bottom: 0;
  padding-bottom: 0;
}

.rwd_show {
  @include rwd-min(1025) {display: none !important}
}
.rwd_hide {
  @include rwd-max(1024) {display: none !important}
}

.mob_show {
  @include rwd-min(768) {display: none !important}
}
.mob_hide {
  @include rwd-max(767) {display: none !important}
}



// fullframe video
.full_frame {height: 0;margin: 0;overflow: hidden;padding-bottom: 56.5%;position: relative;z-index: 0;
  > {
    iframe, object, embed {height: 100%;left: 0;position: absolute;top: 0;width: 100%;z-index: -1}
  }
}



// swiper controls
.sw_controls {
  @include center(false, true);
  left: 0;
  right: 0;
  z-index: 1;
}
.sw_prev,
.sw_next {
  @extend %ani;
  font-size: rem(54);
  color: #fff;
  cursor: pointer;
  &.swiper-button-disabled {
    opacity: 0.4;
    cursor: default;
  }
}
.sw_prev {left: 0}
.sw_next {right: 0}
.sw_pagination {
  text-align: center;
  bottom: 0 !important;
  .swiper-pagination-bullet {
    @extend %ani;
    opacity: 1;
    border: 1px solid $cl;
    background: transparent;
    @include hover {
      opacity: 1;
      background: $cl;
    }
    &.swiper-pagination-bullet-active {
      opacity: 1;
      background: $cl;
    }
  }
}



// cf7
div.wpcf7 {
  position: relative;
  .inputs_wrap {
    @extend .flex__mob;
    > * { @include rwd-min(768) {width: 48%} }
  }
  .wpcf7-form-control-wrap {
    display: block;
    margin-bottom: 25px;
    position: relative;
  }
  .wpcf7-not-valid-tip {
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 16px;
    font: 400 12px/16px $ff;
    color: $cl;
    padding: 3px 0;
    cursor: pointer;
  }
  .wpcf7-response-output {
    display: none !important;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    font: 400 14px/48px $ff;
    color: #fff;
    padding: rem(12);
    border-radius: 0;
    text-align: center;
    &.wpcf7-mail-sent-ng {background: #1091ae; position: relative}
    &.wpcf7-mail-sent-ok {background: #80c684; position: relative}
    &.wpcf7-validation-errors, &.wpcf7-spam-blocked {
      display: none!important;
      background: $cl;
      position: relative}
  }
  input:not([type="submit"]):not([type="button"]):not([type="radio"]):not([type="checkbox"]), textarea {
    display: block;
    height: 48px;
    font: 400 14px $ff;
    color: $tx2;
    background: #fff;
    padding: 0 rem(15);
    border: 1px solid #C0C6D1;
    border-radius: 8px;
    width: 100%;
    @include placeholder {
      border: 1px solid #C0C6D1;
    }
  }
  textarea {
    height: 120px;
    resize: none;
    overflow: auto;
    padding: rem(15);
  }
  button.button {
    & + input {display: none}
  }
  .ajax-loader {
    @extend %ani;
    @include prefixer(animation, swiper-preloader-spin 1s infinite linear);
    width: rem(24);
    height: rem(24);
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    border-radius: 100%;
    border: 2px solid #f1f1f1;
    border-top: 3px solid $cl;
    opacity: 0;
    visibility: hidden;
    &.is-active {
      opacity: 1;
      visibility: visible;
    }
  }
  .screen-reader-response {display: none}
}



// pager
.wp-pagenavi {
  margin: 0 auto 60px;
  @include rwd-min(1025) {
    margin: 0 auto 135px;
  }
  > * {
    display: inline-block;
    font: 500 14px/38px $ff;
    color: #000;
    background: transparent;
    border: 1px solid #acacac;
    width: 40px;
    margin: 0 4px;
    text-align: center;
    border-radius: 4px;
  }
  a {
    @include hover {
      color: #fff;
      background: $cl;
      border-color: $cl;
    }
  }
  .current {
    color: #fff;
    background: $cl;
    border-color: $cl;
    cursor: default;
  }
  .first, .last {font-size: 14px}
  .nextpostslink, .previouspostslink {
    text-align: center;
    border-color: $cl;
    @include hover {
      background: rgba(248, 28, 41, .2);
    }
    img {
      display: inline-block;
      line-height: 38px;
      max-width: 12px;
      max-height: 12px;
    }
  }
  //.extend {display: none}
}



// social media + share buttons
.so_me, .shrs {
  a {
    display: inline-block;
    vertical-align: top;
    width: 34px;
    height: 32px;
    font-size: 20px;
    line-height: 36px;
    margin: 0 rem(6);
    text-align: center;
    position: relative;
    z-index: 0;
    &:after {
      @extend %ani;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 0;
      z-index: -1;
    }
    @include hover {
      &:after {height: 100%}
    }
  }
}

.so_me {
  a {
    color: #fff;
    &:after {background: #fff}
    &.i_ggl { @include hover {color: #db4437} }
    &.i_fcbk { @include hover {color: #4267b2} }
    &.i_twttr { @include hover {color: #1da1f2} }
    &.i_lnkdn { @include hover {color: #0177b5} }
    &.i_nstgrm { @include hover {color: #be3094} }
    &.i_tb { @include hover {color: #cc181e} }
    &.i_vm { @include hover {color: #01b3ef} }
    &.i_skp { @include hover {color: #02aff3} }
    &.i_pntrst { @include hover {color: #d50c22} }
    &.i_drbbl { @include hover {color: #dd3e7b} }
    &.i_email { @include hover {color: #39c4ad} }
    &.i_fd { @include hover {color: #f8991b} }
    &.i_lp { @include hover {color: #c62221} }
  }
}

.shrs {
  a {
    color: $tx;
    @include hover {color: #fff}
    &.i_ggl:after {background: #db4437}
    &.i_fcbk:after {background: #4267b2}
    &.i_twttr:after {background: #1da1f2}
    &.i_lnkdn:after {background: #0177b5}
    &.i_pntrst:after {background: #d50c22}
  }
}
