// style guide
body {
  @include rwd-max(1024) {
    padding-top: 83px;
  }
}

.button {
  @extend %ani;
  display: inline-block;
  vertical-align: middle;
  font: 700 14px/48px $ff;
  color: #fff;
  background: $cl;
  padding: 0 16px;
  text-align: center;
  cursor: pointer;
  border-radius: 6px;
  @include hover {
     background: $cl2;
   }
  &:active {
    background: $cl3;
  }
  &[disabled],
  &.is_disabled {
    pointer-events: none;
    background: $cl_dis;
    color: #fff;
  }
  &.smaller {
    padding: 0 14px;
    font: 700 12px/40px $ff;
  }
  &.bigger {
    padding: 0 24px;
    font: 700 18px/56px $ff;
  }
  &.black {
    background: #1B1B1B;
    color: $cl;
    @include hover {
      color: $cl2;
    }
    &:active {
      color: $cl3;
    }
  }
  &.black_solid {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.25);
    color: #fff;
    @include hover {
      background: rgba(255, 255, 255, 0.2);
      border: 1px solid rgba(255, 255, 255, 0.6);
    }
    &:active {
      background: rgba(255, 255, 255, 0.3);
      border: 1px solid #FFFFFF;
    }
  }
  &.transparent {
    background-color: transparent;
    border: 1px solid #000;
    color: #000000;
    @include hover {
      color: $cl;
      border-color: $cl;
    }
    &:active {
      color: $cl3;
      border-color: $cl3;
    }
  }
  & + .button {margin-left: 7px}
}

h1 {
  font-weight: 500;
  line-height: 0.9;
  font-size: 42px;
  padding-bottom: 15px;
  @include rwd-min(768) {
    font-size: 62px;
  }
  @include rwd-min(1025) {
    font-size: 90px;
    padding-bottom: 25px;
  }
}
h2 {
  line-height: 1.2;
  padding-bottom: 10px;
  font-size: 28px;
  @include rwd-min(768) {
    font-size: 36px;
  }
  @include rwd-min(1025) {
    font-size: 42px;
  }
}
h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.26;
  @include rwd-min(768) {
    font-size: 32px;
  }
  @include rwd-min(1025) {
    font-size: 38px;
  }
}
h4 {
  font-weight: 300;
  line-height: 1.3;
  @include rwd-min(1025) {
    font-size: 24px;
  }
}

h1,h2,h3,h4 {
  strong {
    font-weight: inherit;
    color: $cl;
  }
}

.link {
  box-shadow: 0 2px $cl;
  @include hover {box-shadow: 0 0 $cl}
}

p {
  padding-bottom: rem(21);
  line-height: 1.5;
  &.jEmpty {padding-bottom: 0}
}
small, sub {
  display: inline-block;
  vertical-align: baseline;
  font-size: 87.5%;
}
strong, b {font-weight: 700}

.content {
  p, li {
    a {@extend .link}
  }
  ul {
    padding-bottom: rem(21);
    li {
      padding-left: rem(18);
      position: relative;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 12px;
        width: 4px;
        height: 4px;
        background: $tx;
        border-radius: 50%;
      }
    }
  }
  img {
    &.alignnone {margin: 0 0 rem(21)}
    &.aligncenter {margin: 0 auto rem(21)}
    &.alignleft {
      float: left;
      margin: 0 rem(21) rem(21) 0;
    }
    &.alignright {
      float: right;
      margin: 0 0 rem(21) rem(21);
    }
  }
}

[class^="i_"] {
  display: inline-block;
  vertical-align: middle;
}

.page404 {padding: rem(60) 0}
