// css applications

// custom hamburger
$h_bar_thickness: 2px;
$h_color: #000;
$h_spacing: 6px;
$h_padding: 15px;
$h_height: 48px;
$h_width: 48px;

$h_active_padding: 14px;
$h_active_spacing: 10px;

$h_bg_static: null !default;
$h_bg_active: null !default;

.nav_icon {
  @extend %ani;
  //@include transform( translateY(-50%) rotate(0deg) );
  position: relative;
  display: block;
  height: $h_height;
  width: $h_width;
  cursor: pointer;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  appearance: none;
  box-shadow: none;
  outline: none;
  border: none;
  z-index: 10;
  margin-right: 5px;
  @if $h_bg_static != null {
    background: $h_bg_static;
  }
  i {
    top: ($h_height / 2) - ($h_bar_thickness / 2) - $h_spacing;
    @include transition( all, .25s, ease-in-out );
    @include transform( rotate(0deg) );
    height: $h_bar_thickness;
    background: $h_color;
    position: absolute;
    right: $h_padding;
    left: $h_padding;
    display: block;
    opacity: 1;
    &:nth-child(2) {
      top: ($h_height / 2) - ($h_bar_thickness / 2)
    }
    &:nth-child(3) {
      top: ($h_height / 2) - ($h_bar_thickness / 2) + $h_spacing
    }
  }
  &.is_active {
    @if $h_bg_active != null {
      background: $h_bg_active;
    }
    i {
      left: $h_active_padding;
      right: $h_active_padding;
      &:nth-child(1) {
        @include transform( rotate(135deg) );
        top: ($h_height / 2) - ($h_bar_thickness / 2)
      }
      &:nth-child(2) {
        @include transform( translate3d(-100%, 0, 0) );
        opacity: 0;
      }
      &:nth-child(3) {
        @include transform( rotate(-135deg) );
        top: ($h_height / 2) - ($h_bar_thickness / 2)
      }
    }
  }
}


//loader
$load_yellow: yellow;
$load_green: green;
$load_blue: blue;
$load_red: red;

// scaling... any units
$load_width: rem(30);

.show_box {
  @extend %ani;
  @include center();
  display: inline-block;
  vertical-align: top;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
  &.is_loading {
    opacity: 1;
    visibility: visible;
  }
  .loader {
    margin: 0 auto;
    width: $load_width;
    position: relative;
    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }
  .circular {
    @include animation(rotate 2s linear infinite);
    transform-origin: center center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .path {
    stroke-width: 3;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    stroke-dasharray: 1,200;
    animation: dash 1.5s ease-in-out infinite, color 3s ease-in-out infinite;
    -webkit-animation: dash 1.5s ease-in-out infinite, color 3s ease-in-out infinite;
  }
}

@keyframes rotate{
  100%{
    transform: rotate(360deg);
  }
}
@keyframes dash{
  0%{
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50%{
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px;
  }
  100%{
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px;
  }
}
@keyframes color{
  100%, 0%{
    stroke: $load_red;
  }
  40%{
    stroke: $load_blue;
  }
  66%{
    stroke: $load_green;
  }
  80%, 90%{
    stroke: $load_yellow;
  }
}


// custom select
$selectric-main-color:      #C0C6D1 !default;                                              // Color used in border
$selectric-text-color:      $tx !default;                                           // Color used in label
$selectric-bg-color:        #fff !default;                                           // Background color
$selectric-height:          48px !default;                                              // Outer height
$selectric-spacing:         rem(15) !default;                                           // Label left padding
$selectric-border-width:    1px !default;                                               // Outer border width
$selectric-border-radius:   8px !default;                                                 // Border radius
$selectric-inner-height:    $selectric-height - ($selectric-border-width * 2) !default; // Inner height
$selectric-font-size:       14px !default;                                              // Font size

.selectric-wrapper {
  position: relative;
  cursor: pointer;
}

.selectric-responsive {width: 100%}

.selectric {
  border: $selectric-border-width solid $selectric-main-color;
  border-radius: $selectric-border-radius;
  background: $selectric-bg-color;
  position: relative;
  overflow: hidden;

  .label {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 $selectric-inner-height 0 $selectric-spacing;
    font-size: $selectric-font-size;
    line-height: $selectric-inner-height;
    color: #717171;
    height: $selectric-inner-height;
    user-select: none;
    @include rwd-min(768) {
      height: 48px;
      line-height: 48px;
      margin-right: 42px;
    }
  }

  .select_arrow {
    @include center(false, true);
    right: 25px;
    &:after, &:before {
      @extend %ani;
      content: '';
      position: absolute;
      top: 50%;
      width: 8px;
      height: 2px;
      background: #000;
    }
    &:after {
      left: -2px;
      @include transform(translate(0, -50%) rotate(-45deg));
    }
    &:before {
      right: -1px;
      @include transform(translate(0, -50%) rotate(45deg));
    }
    &.is_active {
      width: 10px;
      height: 10px;
      right: 19px;
      &:after, &:before {
        width: 10px!important;
        height: 2px;
        left: 0!important;

      }
    }
  }

}

.selectric-open {
  z-index: 9999;

  .selectric-items {display: block}
}

.selectric-disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  user-select: none;
}

.selectric-hide-select {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;

  select {
    position: absolute;
    left: -100%;
  }

  &.selectric-is-native {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;

    select {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      border: none;
      z-index: 1;
      box-sizing: border-box;
      opacity: 0;
    }
  }
}

.selectric-input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  *font: 0/0 a !important;
  background: none !important;
}

.selectric-temp-show {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important;
}

.selectric-items {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  //border: 1px solid darken($selectric-main-color, 10%);
  z-index: -1;
  box-shadow: 0 0 10px -6px;

  .selectric-scroll {
    height: 100%;
    overflow: auto;
  }

  .selectric-above & {
    top: auto;
    bottom: 100%;
  }

  ul, li {
    font-size: $selectric-font-size;
    line-height: 20px;
    min-height: 20px;
  }

  li {
    @extend %ani;
    display: block;
    padding: 10px;
    color: $tx;
    background: #fff;
    cursor: pointer;

    @include hover {background: $cl; color: #fff;}

    &.selected, &.highlighted {background: $cl; color: #fff;}
  }

  .disabled {
    filter: alpha(opacity=50);
    opacity: 0.5;
    cursor: default !important;
    background: none !important;
    color: #666 !important;
    user-select: none;
  }

  .selectric-group {
    .selectric-group-label {
      font-weight: bold;
      padding-left: 10px;
      cursor: default;
      user-select: none;
      background: none;
      color: #444;
    }

    &.disabled li {
      filter: alpha(opacity=100);
      opacity: 1;
    }

    li {
      padding-left: 25px;
    }
  }
}



// ripple effect
.ripple {
  overflow: hidden;
  position: relative;
  z-index: 0;
}
@include keyframes(ripple-animation) {
  from {
    @include transform(scale(1));
    opacity: 0.6;
  }
  to {
    @include transform(scale(50));
    opacity: 0;
  }
}
.ripple-effect {
  position: absolute;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  background: #337a82;
  z-index: -1;
  @include animation(ripple-animation 1.1s);
}
