// header + main_menu

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  border-bottom: 1px solid #C0C6D1;
}
body {
  @include rwd-min(1025) {
    padding-top: 128px;
  }
}
.header_top {
  background: #282828;
  color: #a9a9a9;
  padding: 8px 0;
  font-size: 12px;
  a {
    color: inherit;
    @include hover {
      color: #fff;
    }
  }
  ul {
    text-transform: uppercase;
    font-weight: 500;
    li.active {
      display: none;
    }
    a {
      letter-spacing: 0.5px;
    }
  }
  .black {
    svg {
      margin-right: 10px;
    }
  }
}
.user_window {
  position: relative;
  margin: 0 20px;
  @include hover {
    .exit_window {
      opacity: 1;
      visibility: visible;
      @include transform(translateY(0));
    }
    .avatar {
      background: #717171;
    }
    .fa-chevron-down {
      color: $cl;
    }
  }
  .avatar {
    @extend %ani;
    display: inline-block;
    width: 42px;
    background: #363636;
    color: #fff;
    font-size: 21px;
    text-align: center;
    border: 1px solid #717171;
    border-radius: 50%;
    vertical-align: middle;
    svg {
      height: 40px;
      display: block;
      margin: 0 auto;
    }
  }
  .fa-chevron-down {
    width: 9px;
    margin-left: 5px;
    vertical-align: middle;
  }
  .enter_link {
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    p {
      padding-bottom: 0;
    }
  }
  .exit_window {
    @extend %ani;
    display: block;
    background: #fff;
    position: absolute;
    top: 100%;
    left: -7px;
    min-width: 50px;
    border: 1px solid #C0C6D1;
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    @include transform(translateY(10px));
    margin-top: 10px;
    z-index: 3;
    &:before {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 7px 7px 7px;
      border-color: transparent transparent #C0C6D1 transparent;
      position: absolute;
      top: -7px;
      left: 20px;
    }
    &:after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 6px 6px 6px;
      border-color: transparent transparent #ffffff transparent;
      position: absolute;
      top: -6px;
      left: 21px;
    }
    a {
      display: block;
      padding: 15px 23px;
      font-size: 16px;
      color: #000;
      border-radius: 8px;
      @include hover {
        background: #F2F2F2;
      }
    }
  }
}
.language-chooser {
  @include flexbox();
  @include flex-direction(column);
  .active {
    @include order(-1);
  }
}

.header_bottom {
  padding: 16px 0;
  background: #fff;
  ul {
    color: $tx;
    font-size: 18px;
    text-transform: capitalize;
    li {
      padding: 0 15px;
    }
    a {
      color: inherit;
      @include hover {
        color: $cl2;
      }
      &:active {
        color: $cl3;
      }
    }
  }
  .button {
    letter-spacing: 0.2px;
  }
}

#menu {
  @extend %ani;
  li {
    margin-right: 24px;
    &.current-menu-item > a {}

  }
}
#menu-courses-menu {
  .menu-item-has-children {
    position: relative;
    &:before {
      //content: '';
      //background: #000;
      position: absolute;
      left: -25px;
      right: -155px;
      top: 0;
      height: 40px;
      z-index: -1;
      display: none;
    }
    @include hover {
      &:before {display: block}
      > .sub-menu {
        opacity: 1;
        visibility: visible;
        @include transform(translateY(0));
      }
    }
  }
  .sub-menu {
    @extend %ani;
    display: block;
    background: #fff;
    position: absolute;
    top: 100%;
    left: 10px;
    min-width: 250px;
    border: 1px solid #C0C6D1;
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    @include transform(translateY(10px));
    margin-top: 10px;
    z-index: 3;
    &:before {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 7px 7px 7px;
      border-color: transparent transparent #C0C6D1 transparent;
      position: absolute;
      top: -7px;
      left: 20px;
    }
    &:after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 6px 6px 6px;
      border-color: transparent transparent #ffffff transparent;
      position: absolute;
      top: -6px;
      left: 21px;
    }
    li {
      display: block;
      padding: 0;
      a {
        display: block;
        padding: 15px 23px;
        font-size: 16px;
        @include hover {
          background: #F2F2F2;
        }
      }
      &:first-of-type {
        a {
          padding-top: 25px;
          border-radius: 8px 8px 0 0;
        }
      }
      &:last-of-type {
        a {
          padding-bottom: 25px;
          border-radius: 0 0 8px 8px;
        }
      }
    }
    .menu-image-title-after.menu-image-title {
      padding-left: 0 !important;
    }
  }
  .menu-item-has-children:last-of-type {
    ul {
      min-width: 200px;
    }
  }
}

.header_mob {
  background: #fff;
  &.is_active {
    .header_mob__bottom {
      display: none;
    }
  }
}
.header_mob__top {
  border-bottom: 1px solid #C0C6D1;
  padding: 0 0 0 20px;
  &.is_active {
    .logo {
      display: block;
    }
    .logo_mob, .button {
      display: none;
    }
  }
  .logo {
    display: none;
  }
}
.header_mob__bottom {
  text-align: center;
  padding: 8px 0;
  font-size: 12px;
  font-weight: 700;
  a {
    color: #000;
  }
  svg {
    margin-right: 5px;
    height: 15px!important;
    width: 15px!important;
    vertical-align: middle;
  }
}
.header_mob__open {
  background: #fff;
  display: none;
  height: calc(100vh - 49px);
  overflow: scroll;
  &.is_active {
    display: block;
  }
  .header_mob__open_top {
    display: none;
  }
  &.is_active {
    .header_mob__open_top {
      @include flexbox;
      li.active {
        display: none;
      }
    }
  }
  .header_mob__open_top {
    padding: 8px 20px;
    border-bottom: 1px solid #C0C6D1;
    @include justify-content(space-between);
    @include align-items(center);
    .button {
      background: transparent;
      border: 1px solid $cl;
      color: $cl;
    }
    a {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 12px;
      color: #717171;
    }
    .enter_link {
      margin-right: 20px;
      color: #000;
    }
    .qtranxs_widget_end {
      display: none;
    }
  }
  #menu-courses-menu-1 {
    > li {
        border-bottom: 1px solid #C0C6D1;
      > a {
        font-size: 18px;
        font-weight: 500;
        text-transform: none;
        color: #363636;
      }
      > ul {
        display: none;
        background: #f2f2f2;
        a {
          color: #363636;
          text-transform: none;
        }
      }
    }
  }
  #menu-main-menu-1 {
    //border-bottom: 1px solid #C0C6D1;
  }
  .nanotest_button {
    text-align: center;
    padding: 7px 0 8px;
  }
  .header_mob__open_top__open_menu {
    a:not(.button) {
      padding: 12px 20px;
      color: #717171;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500;
      display: inline-block;
    }
    li {
      border-bottom: 1px solid #C0C6D1;
      &.menu-item-has-children {
        position: relative;
        border-bottom: none!important;
        &:before {
          content: '';
          position: absolute;
          border-bottom: 1px solid #C0C6D1;
          width: 100%;
          top: 48px;
          left: 0;
        }
        &:after {
          content: url(../images/up_arr.svg);
          position: absolute;
          right: 0;
          top: 0;
          height: 48px;
          width: 52px;
          text-align: center;
          line-height: 48px;
          transform: rotate(180deg);
          cursor: pointer;
        }
        &.is_active {
          &:after {
            transform: rotate(0deg);
          }
        }
        a {
          font-size: 16px;
          font-weight: 400;
          display: block;
          span {
            padding-left: 0;
            vertical-align: middle;
          }
        }
      }
    }
  }
}