// footer

footer {
  color: #fff;
  background: #282828;
}
.footer_top {
  @include rwd-max(767) {
    text-align: center;
  }
  .container {
    padding: 20px 0;
    border-bottom: 1px solid $tx2;
  }
  a {
    @include hover {
      color: $cl2;
    }
    &:active {
      color: $cl3;
    }
  }
}
.footer_top__logo {
  @include flex(1);
  font-size: 0;
}
#footer_logo {
  display: inline-block;
  @include hover {
    opacity: .7;
  }
  @include rwd-max(767) {
    max-width: 175px;
  }
  @include rwd-min(768) {
    margin-right: 15px;
  }
}
.footer_top__contact {
  font-size: 14px;
  @include flex(2);
  text-align: center;
  a {
    margin: 15px 0;
    display: block;
    @include rwd-min(1025) {
      display: inline-block;
      margin: 0 20px;
      vertical-align: middle;
    }
  }
  svg {
    display: inline-block;
    margin-right: 10px;
  }
}
.footer_top_socials {
  @include flex(1);
  @include rwd-max(767) {
    margin: 22px 0 10px;
  }
  @include rwd-min(768) {
    text-align: right;
  }
  a {
    &:not(:last-of-type) {
      margin-right: 25px;
    }
  }
}
.footer_bottom {
  padding: 28px 0;
  @include rwd-min(768) {
    padding: 28px 0 60px;
  }
  color: #a9a9a9;
}
.footer_menu {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  @include rwd-max(767) {
    @include flex-wrap(wrap);
    max-width: 350px;
    margin: 0 auto;
  }
  @include rwd-min(1025) {
    @include flex(1);
    padding-right: 80px;
  }
  ul {
    @include rwd-max(767) {
      width: 50%;
    }
  }
  li {
    padding-bottom: 16px;
  }
  a {
    color: inherit;
    white-space: nowrap;
    @include hover {
      color: #fff;
    }
  }
  .moveUp {
    @include rwd-max(767) {
      //margin-top: -35px;
    }
  }
}
.footer_copyright {
  @include flex(1);
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  @include rwd-max(1024) {
    padding-top: 40px;
  }
  @include rwd-min(1025) {

    text-align: right;
  }
  p {
    padding-bottom: 0;
  }
  span {
    display: block;
    padding-bottom: 4px;
  }
}