
.log_desk {
  font-size: 14px;
  margin: auto 0;
  @include rwd-min(768) {
    width: 305px;
  }
  &.is_hidden {
    display: none;
  }
  p {
    padding-bottom: 11px;
    span {
      color: #717171;
    }
  }
  sup {
    color: $cl;
  }
  .success {
    text-align: center;
    padding-top: 15px;
  }
}
.log_link {
  text-align: center;
  padding-top: 17px;
  p {
    padding-bottom: 0;
  }
}

#register_desk {
  br {
    @include rwd-max(767) {
      display: none;
    }
  }
}

.popup {
  position: relative;
  background: #fff!important;
  //margin: 100px auto;
  border-radius: 8px;
  padding: 54px 20px 40px;
  max-width: 300px!important;
  @include rwd-min(1025) {
    max-width: 400px!important;
    padding: 40px;
  }
  h4 {
    text-align: center;
    font-weight: 500;
    padding-bottom: 16px;
  }
  .fancybox-close-small {
    right: 14px;
    top: 14px;
    color: #717171;
  }
  input {
    width: 100%;
  }
  .selectric-scroll {
    max-height: 100px;
  }
}

#success {
  text-align: center;
  color: $tx2;
  font-size: 18px;
  padding: 24px 30px 32px;
  .close_thanks {
    width: calc(100% - 20px);
    margin: 0 auto;
    display: block;
    line-height: 56px;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #000;
    border-radius: 8px;
  }
}

.check_wrap {
  height: 112px;
  width: 112px;
  background: $cl;
  border-radius: 50%;
  margin: 10px auto 40px;
  img {
    width: 54px;
    height: 40px;
    margin: auto;
  }
}

.forgot_password_button {
  font-size: 14px;
  font-weight: 500;
  margin: -6px 0 11px;
  display: block;
}
.login_text {
  background: #FCEFCA;
  padding: 11px 20px 13px;
  font-size: 14px;
  color: #B78700;
  border-radius: 8px;
  margin-top: 16px;
  p {
    padding-bottom: 0;
  }
}
.close {
  width: 13px;
  height: 13px;
  display: block;
  background: url(../images/close.svg);
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
#payment {
  //max-width: 530px;
  margin: 100px auto;
  background: #fff;
  border-radius: 8px;
  padding: 0 !important;
  @include rwd-max(767) {
    width: 280px;
  }
  .flex__mob {
    @include align-items(stretch);
  }
  .item {
    padding: 15px 24px 32px;
    @include rwd-min(1025) {
      padding: 24px 24px 32px;
    }
    //width: 250px;
    &:first-of-type {
      border-right: 1px solid #E0E0E0;
      width: 100%;
      @include rwd-max(767) {
        padding-bottom: 0;
      }
      @include rwd-min(768) {
        background: #F9F9F9;
        width: 280px;
      }
    }
  }
  .currency {
    display: block;
    @include rwd-max(767) {
      margin-bottom: 15px;
    }
    button {
      margin-left: 0;
      margin-right: 8px;
      display: inline-block;
    }
  }
  .payment_info {
    font-size: 12px;
    color: #717171;
    //margin-bottom: 35px;
  }
  .line {
    line-height: 31px;
    &:not(:last-of-type) {
      border-bottom: 1px solid #C0C6D1;
    }
    span {
      color: $tx;
      font-size: 14px;
    }
    &.discount {
      span {
        color: $cl;
      }
    }
    #total_price {
      font-size: 16px;
      font-weight: 500;
      & + .currency_type {
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
  .promocode {
    //margin-top: 38px;
    position: relative;
    span {
      color: $cl;
      font-size: 12px;
      position: absolute;
      top: -20px;
    }
    input {
      line-height: 48px;
      width: 100%;
      background: transparent;
      color: $tx;
      text-align: center;
      border: 1px dashed #C0C6D1;
      border-radius: 0;
      text-transform: uppercase;
      font-size: 14px;
      @include placeholder {
        color: #717171;
        border: none
      }
    }
    &.promocode_error {
      input {
        border-color: $cl;
        &::placeholder {
          color: $cl;
        }
      }
    }
    &.promocode_success {
      span {
        color: $tx;
        &:before {
          content: url(../images/check_black.svg);
          display: inline-block;
          margin-right: 7px;
        }
      }
    }
  }
  .payment_type {
    font-size: 14px;
    @include rwd-min(768) {
      max-width: 200px;
    }
    &.is_hidden {
      display: none;
    }
    & > p {
      padding-top: 3px;
    }
    input {
      width: 100%;
      margin-top: 25px;
    }
  }
  .close {
    width: 13px;
    height: 13px;
    display: block;
    background: url(../images/close.svg);
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
  }
  .choose_payment {
    @include flex-wrap(wrap);
  }
  label {
    @extend %ani;
    @include flexbox;
    margin-bottom: 6px;
    @include hover {
      background: #F3F6F8;
    }
    img {
      height: 68px;
      width: 68px;
      border: 1px solid #C0C6D1;
      border-radius: 6px;
      overflow: hidden;
      @include rwd-min(768) {
        height: 96px;
        width: 96px;
      }
    }
  }
  [type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  [type=radio] + img {
    cursor: pointer;
  }
  [type=radio]:checked + img {
    border: 1px solid $cl;
  }
  .fancybox-close-small {
    @include rwd-max(1024) {
      top: 6px;
    }
  }
}

.widget {
  padding: 60px 0;
  @include rwd-min(1025) {
    padding: 120px 0;
  }
  color: $tx2;
  h2 {
    color: $tx;
  }
  .item {
    @include flex(1);
    &:last-of-type {
      text-align: right;
    }
  }
  iframe {
    max-width: 100%;
    overflow: scroll!important;
    @include rwd-max(1024) {
      width: 100%!important;
      margin-top: 50px;
    }
  }
}

.steps {
  padding: 60px 0 0;
  .home & {
    padding: 120px 0 0;
  }
  h2 {
    padding-bottom: 0;
  }
  .steps_icons {
    padding: 0 2.5%;
  }
  .title_steps {
    text-align: center;
    color: $tx2;
  }
  .step_item__icon {
    @include flexbox();
    width: 104px;
    height: 104px;
    background: #F9F9F9;
    border: 1px dashed #D1D1D1;
    border-radius: 50%;
    margin: 0 auto 9px;
    img {
      margin: auto;
    }
  }
  .step_items {
    @include rwd-max(1024) {
      max-width: 280px;
      margin: 0 auto;
    }
  }
  .step_item {
    position: relative;
    max-width: 132px;
    @include rwd-min(1025) {
      padding: 0 10px;
      max-width: 180px;
    }
    &:before {
      content: '';
      display: inline-block;
      width: 64px;
      height: 64px;
      background-image: url(../images/left_arrow.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 70px;
      @include rwd-min(1025) {
        display: none;
      }
    }
    &:after {
      content: '';
      display: inline-block;
      width: 77px;
      height: 77px;
      background: url(../images/left_arrow.png);
      position: absolute;
      background-size: contain;
      @include rwd-max(1024) {
        display: none;
      }
    }
    &:nth-of-type(1){
      &:before {
        transform: matrix(0, 1, 1, 0, 0, 0);
        left: calc(100% + 15px);
      }
      &:after {
        @include rwd-min(1025) {
          top: 100%;
          left: calc(100% + 10px);
        }
      }
    }
    &:nth-of-type(2) {
      margin-left: auto;
      @include rwd-min(1025) {
        margin: auto 0 60px;
      }
      &:before {
        transform: rotate(90deg);
        right: calc(100% + 15px);
      }
      &:after {
        @include rwd-min(1025) {
          bottom: 100%;
          left: 100%;
          transform: matrix(0.96, 0.28, 0.28, -0.96, 0, 0);
        }
      }
    }
    &:nth-of-type(3) {
      &:before {
        transform: matrix(0, 1, 1, 0, 0, 0);
        left: calc(100% + 15px);
      }
      &:after {
        left: calc(100% - 20px);
        top: 100%;
        transform: rotate(-13.01deg);
      }
    }
    p {
      padding-bottom: 0;
    }
  }
  .step_item_last {
    @include rwd-max(1024) {
      margin-top: 32px;
    }
    max-width: 282px;
    .flex {
      background: #F9F9F9;
      border: 1px dashed #D1D1D1;
      box-sizing: border-box;
      border-radius: 8px;
      padding: 38px 20px 28px;
      margin-bottom: 9px;
      @include flex-wrap(wrap);
      > img {
        width: 100%;
        max-width: 135px;
        margin: 0 auto;
      }
    }
    > p {
      max-width: 200px;
      margin: 0 auto;
    }
  }
  .last_step_icon {
    width: 33%;
    img {
      max-height: 40px;
      margin: 0 auto 4px;
    }
    p {
      padding-bottom: 0;
    }
    &:nth-of-type(2) {
      margin-top: -35px;
    }
  }
  .step_items {
    color: $tx2;
    font-size: 14px;
    text-align: center;
    padding: 45px 0 60px;
  }
}

.steps_content {
  padding: 0 0 40px;
  color: #828282;
  button {
    @extend %ani;
    cursor: pointer;
    color: $cl;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    @include hover {
      color: $cl2;
    }
    &:active {
      color: $cl3;
    }
  }
  h1,h2,h3,h4, strong {
    color: #333;
  }
  .expand_text {
    padding-top: 40px;
    @include rwd-min(1025) {
      max-width: 577px;
      margin-right: 30px;
    }
    /*p:not(:first-of-type) {
      display: none;
    }*/
  }
}

#messageforgot, #messageforgot_desk {
  color: $cl;
  font-size: 14px;
  padding-top: 15px;
}

.error {
  margin-top: 15px;
  color: $cl;
  font-size: 14px;
}

#thanks_mail .fancybox-close-small {
  display: none !important;
}

#trial_popup .fancybox-close-small {
  display: none !important;
}
