.home_top {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  position: relative;
  padding: 10px 0 40px;
  @include rwd-min(768) {
    padding: 70px 0;
  }
  @include rwd-min(1025) {
    padding: 165px 0 150px;
  }
  .item {
    @include flex(0, 0, 50%);
    &:first-of-type {
      @include rwd-max(1024) {
        @include flexbox;
        @include flex-direction(column);
      }
    }
  }
  .play_icon {
    @include flex(0, 0, 110px);
    margin-left: auto;
    color: #fff;
    text-align: center;
    font-size: 12px;
    @include rwd-max(1024) {
      margin: auto;
      @include order(1);
      p {
        display: none;
      }
    }
    @include rwd-min(1025) {
      margin-right: 130px;
    }
    a {
      display: inline-block;
      width: 96px;
      height: 96px;
      padding: 22px;
      border: 1px solid rgba(255, 255, 255, 0.25);
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.1);
      margin: 0 auto 12px;
      @include hover {
        background: rgba(255, 255, 255, .25);
      }
    }
  }
  .button {
    @include rwd-max(1024) {
      display: block;
      width: 100%;
      margin: 0 0 15px;
    }
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  }
  h1 {
    @include rwd-max(1024) {
      padding-bottom: 12px;
    }
  }
  p {
    &:last-of-type {
      @include order(2)
    }
  }
}

.flip-card {
  background-color: transparent;
  perspective: 1000px;
  width: 306px;
  max-width: 100%;
  height: 250px;
  @include rwd-min(768) {
    height: 306px;
  }
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
}
.flip-card-front {
  background-color: #fff;
  color: $cl;
}
.flip-card-back {
  font-weight: 400!important;
  font-size: 16px!important;
  background-color: #FFF3F3;
  color: $tx;
  transform: rotateY(180deg);
  @include justify-content(flex-end);
  h4 {
    font-weight: 500;
    color: #F81C29;
    padding-bottom: 9px;
    font-size: 18px;
    @include rwd-max(1024) {
      min-height: 54px;
    }
  }
  p {
    padding-bottom: 10px;
    @include rwd-min(1025) {
      padding-bottom: 55px;
    }
  }
  .button {
    width: 100%;
  }
}

.goals {
  text-align: center;
  padding: 60px 0 55px;
  @include rwd-min(1025) {
    padding: 124px 0;
  }
  h2 {
    color: $tx;
  }
  .goals_text {
    max-width: 808px;
    margin: 0 auto 29px;
    color: $tx2;
  }
  .goals_items {
    @include align-items(stretch);
  }
  .goal_item {
    position: relative;
    @include rwd-max(1024) {
      margin: 0 auto 20px;
      height: 260px;
    }
    h4 {
      @include rwd-max(1024) {
        min-height: 40px;
      }
    }
  }
  .goal__side {
    font-weight: 500;
    font-size: 18px;
    padding: 25px 8%;
    border: 1px solid $cl;
    border-radius: 12px;
    overflow: hidden;
    @include flex(0,0,31%);
    @include rwd-min(1025) {
      padding: 42px 8% 26px;
    }
  }
  .goal_item__img {
    margin-bottom: 20px;
    min-height: 100px;
    @include rwd-min(1025) {
      min-height: 165px;
    }
    img {
      @include rwd-max(768) {
        max-height: 100px;
      }
    }
  }
  .goal_item__text {
    min-height: 48px;
  }
}


.course__item {
  &.flip-card {
    background-color: transparent;
    perspective: 1000px;
    width: 306px;
    max-width: 100%;
    height: 250px;
    @include rwd-min(768) {
      height: 306px;
    }
  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  &.flip-card:hover .flip-card-inner {
    transform: none!important;
  }
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    @include flexbox;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
  }
  .flip-card-front {
    background-color: #fff;
    color: $cl;
  }
  .flip-card-back {
    font-weight: 400!important;
    font-size: 16px!important;
    background-color: #FFF3F3;
    color: $tx;
    transform: rotateY(180deg);
    @include justify-content(flex-end);
    h4 {
      font-weight: 500;
      color: #F81C29;
      padding-bottom: 9px;
      font-size: 18px;
      @include rwd-max(1024) {
        min-height: 54px;
      }
    }
    p {
      padding-bottom: 10px;
      @include rwd-min(1025) {
        padding-bottom: 55px;
      }
    }
    .button {
      width: 100%;
    }
  }
  .goal_item__text {
    font-weight: 400;
    color: #717171;
    font-size: 14px;
  }
  .button {
    margin-top: 10px;
    color: #fff!important;
    @include rwd-min(1025) {
      margin-top: 55px;
    }
  }
}

.trial_lesson {
  background: #EEF0F3;
  padding: 65px 0;
  @include rwd-min(1025) {
    padding: 100px 0 112px;
  }
  .flex__rwd {
    align-items: stretch;
  }
  h4 {
    font-weight: 500;
    text-align: center;
    padding-bottom: 4px;
  }
  p {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: #828282;
  }
  .form_item {
    background: #fff;
    border: 1px solid #D5DCE9;
    padding: 20px 20px 30px;
    border-radius: 12px;
    input[type="submit"] {
      width: 100%;
    }
  }
  .qoute_bg {
    @include flex(0,0,426px);
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
    @include order(1);
    background-image: url(../images/quote.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    @include rwd-max(1024) {
      padding-bottom: 80px;
    }
  }
  .quote_text {
    color: #17181a;
    font-weight: 500;
    padding: 70px 0 32px;
    margin-bottom: 10px;
    position: relative;
    font-size: 24px;
    line-height: 32px;
    @include rwd-min(1025) {
      font-size: 38px;
      line-height: 48px;
    }
    &:before, &:after {
      content: '"';
      position: absolute;
      font-style: italic;
      font-weight: 700;
      font-size: 120px;
      line-height: 0;
      opacity: .1;
      color: #061127;
    }
    &:before {
      top: 0;
      left: 15px;
      @include transform(rotate(180deg));
    }
    &:after {
      right: 30px;
      bottom: 0;
    }
  }
  .quote_author {
    color: #17181a;
    opacity: .7;
    @include rwd-max(1024) {
      margin-top: -35px;
    }
  }
}

.tests {
  background: #282828;
  color: #fff;
  padding: 65px 0;
  @include rwd-max(1024) {
    text-align: center;
  }
  @include rwd-min(1025) {
    padding: 115px 0;
  }
  h3 {
    padding-bottom: 10px;
  }
  .button {
    @include rwd-max(1024) {
      margin-top: 30px;
    }
  }
}

.home {
  .fancybox-content {
    max-height: 450px!important;
    max-width: 800px;
    button {
      display: none;
    }
    video {
      height: auto !important;
    }
  }
  .step_items {
    @include rwd-max(1024) {
      padding-bottom: 0;
    }
  }
}

.form_line {
  position: relative;
}
.wpcf7-form-control-wrap {
  @extend %ani;
  display: block;
  @include hover {
    & + label {color: #717171}
  }
  &.is_focused {
    & + label {color: #717171}
  }
  &.is_active {
    & + label {
      top: -6px;
      font-size: 12px;
      background: #fff;
    }
  }
  &.is_error {
    & + label {color: $cl}
    input {
      border-color: $cl!important;
      color: $cl!important;
    }
  }
  &.is_disabled {
    pointer-events: none;
    & + label {color: rgba(red, 0.3)}
  }
  & + label {
    @include transition(all, 0.2s, linear);
    display: inline-block;
    position: absolute;
    top: 17px;
    left: 12px;
    font-size: 14px;
    padding: 0 4px;
    color: #717171;
    line-height: 1;
    pointer-events: none;
    -moz-user-select: none;
    user-select: none;
  }
}

.home_text {
  padding: 65px 0;
  @include rwd-min(1025) {
    padding: 120px 0 100px;
  }
  h1,h2,h3,h4 {
    font-weight: 500;
    width: 100%;
    padding-bottom: 17px;
  }
}
.home_text__inner {
  font-size: 14px;
  color: #828282;
  line-height: 20px;
  @include rwd-min(768) {
    column-count: 2;
    column-gap: 25px;
  }
  p {
    break-inside: avoid-column;
  }
}