#breadcrumbs {
  padding: 17px 0 19px;
  color: $tx2;
  font-size: 14px;
  margin-bottom: 20px;
  @include rwd-min(1025) {
    margin-bottom: 0;
  }
  a {
    color: inherit;
    @include hover {
      color: $cl2;
    }
    &:active {
      color: $cl3;
    }
  }
}

.tpl-payment {
  .payment_courses {
    @include rwd-max(767) {
      @include flex-wrap(wrap);
      @include justify-content(center);
    }
  }
  .currency {
    @include rwd-max(767) {
      @include order(-1);
      @include justify-content(center);
      width: 100%;
    }
  }
}

.check_icon {
  background: url(../images/check.svg);
  width: 11px;
  height: 7px;
  display: inline-block;
}

.form_inputs {
  input {
    width: 100%;
    &:not([type="submit"]) {
      margin-bottom: 16px;
    }
  }
}


.payment_text {
  max-width: 590px;
  margin: 50px auto;
  text-align: center;
}

.payment_courses {
  border-bottom: 1px solid #E0E0E0;
  .tabs {
    @include rwd-max(767) {
      margin-top: 10px;
    }
    li {
      font-weight: 500;
      cursor: pointer;
      position: relative;
      font-size: 14px;
      margin-right: 16px;
      line-height: 35px;
      @include rwd-min(768) {
        font-size: 18px;
        margin-right: 32px;
        line-height: 44px;
      }
      &:before {
        @extend %ani;
        content: '';
        width: 100%;
        height: 2px;
        background: #000;
        opacity: 0;
        position: absolute;
        bottom: -1px;
        left: 0;
      }
      @include hover {
        &:before {
          opacity: 1;
        }
      }
      &.current {
        color: $cl;
        &:before {
          background: $cl;
          opacity: 1;
        }
      }
    }
  }
}

.currency {
  button {
    width: 42px;
    line-height: 24px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #E0E0E0;
    color: $tx2;
    margin-left: 8px;
    cursor: pointer;
    &.active {
      color: $cl;
      border-color: $cl;
      cursor: default;
    }
  }
}

.tab-content {
  display: none;
  padding: 24px 0 55px;
  @include rwd-min(768) {
    padding: 24px 0 144px;
  }
  &.current {
    display: block;
  }
  .item {
    @extend %ani;
    @include flex(0,0,23.5%);
    box-sizing: border-box;
    background: #F3F6F8;
    border: 1px solid #F3F6F8;
    color: #717171;
    border-radius: 6px;
    min-height: 120px;
    cursor: pointer;
    @include rwd-max(1024) {
      margin-bottom: 10px;
    }
    @include hover {
      border: 1px solid #E0E0E0;
    }
    .button.small {
      font: 500 12px/32px 'Rubik', sans-serif;
      padding: 0 12px;
      text-transform: none;
      margin-bottom: 8px;
      display: none;
    }
    &.active {
      border: 1px solid $cl;
      background: #FFF3F3;
      color: $cl;
      strong {
        padding-top: 11px;
      }
      .button.small {
        display: inline-block;
      }
    }
  }
  .courses_count {
    @include flex(1);
    font-size: 14px;
    text-transform: lowercase;
    text-align: center;
    strong {
      display: block;
      font-size: 52px;
      line-height: 0.9;
      color: $tx;
    }
    p {
      padding-bottom: 0;
    }
  }
  .courses_info {
    @include flex(1);
    font-size: 12px;
    p {
      padding-bottom: 0;
      vertical-align: middle;
      &:not(:last-of-type) {
        padding-bottom: 8px;
      }
    }
    i {
      margin-right: 7px;
    }
  }
}
