.contain_side {
  .content {
    @include rwd-min(1025) {
      width: calc(100% - 360px);
    }
  }
}
.sidebar {
  @include rwd-min(1025) {
    @include flex(0,0,320px);
    margin-left: 20px;
  }
  .sidebar_item {
    padding: 30px 0;
    &:not(:last-of-type) {
      border-bottom: 1px solid #E0E0E0;
    }
  }
  .sidebar__ads {
    @include rwd-min(1025) {
      width: 320px;
    }
  }
  .posts_categories {
    padding-top: 0;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 17px;
    @include rwd-min(1025) {
      padding-bottom: 30px;
    }
    a {
      display: inline-block;
      color: $tx;
      font-weight: 700;
      text-transform: none;
      font-size: 16px;
      line-height: 24px;
      @include rwd-min(1025) {
        font-size: 20px;
        line-height: 1.7;
      }
      @include hover {
        color: $cl;
        text-decoration: underline;
      }
      &:active {
        color: $cl2;
      }
    }
    li {
      padding-bottom: 0;
      &:not(:last-of-type) {
        padding-bottom: 4px;
      }
      &.current-cat, &.all_posts {
        color: $cl;
        a {
          color: inherit;
        }
      }

    }
  }
  h5 {
    font-size: 18px;
    line-height: 1.34;
    font-weight: 500;
    padding-bottom: 18px;
  }
  h6 {
    font-size: 12px;
    font-weight: 500;
    color: #717171;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  .subscribe {
    .button {
      width: 100%;
    }
  }
  .related_posts {
    h6 {
      padding-bottom: 10px;
    }
  }
  .flex_item {
    @include justify-content(flex-start);
    color: $tx;
    @include hover {
      color: $cl2;
    }
    &:active {
      color: $cl3;
    }
    &:not(:last-of-type) {
      margin-bottom: 15px;
    }
    img {
      width: 56px;
      margin-right: 15px!important;
      border-radius: 3px;
    }
    span {
      font-size: 14px;
      line-height: 1.42;
      font-weight: 500;
    }
  }
  .trial_lesson_aside {
    .button {
      width: 100%;
    }
  }
}
.single-post section {
  font-size: 16px;
  line-height: 24px;
  @include rwd-min(1025) {
    line-height: 32px;
    font-size: 18px;
  }
  h1 {
    @extend h2;
  }
  h2 {
    padding-bottom: 35px;
  }
  h3 {
    line-height: inherit;
    font-weight: 400;
    font-size: 20px;
    @include rwd-min(1025) {
      font-size: 28px;
    }
  }
  h4 {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 22px;
    @include rwd-min(1025) {
      font-size: 24px;
    }
  }
  ol {
    padding-left: 50px;
  }
  li {
    padding-bottom: 9px;
    a {
      box-shadow: none;
      @include hover {
        color: $cl2;
      }
      &:active {
        color: $cl3;
      }
    }
  }
  p {
    line-height: inherit;
  }
  img {
    width: 100%;
    height: auto;
    margin: 0!important;
  }
  blockquote {
    background: #EEF0F3;
    padding: 18px 24px;
    border-left: 4px solid #C0C6D1;
    font-style: italic;
    margin-bottom: 10px;
    p {
      &:last-of-type {
        padding-bottom: 0;
      }
    }
  }
  .cat {
    background: #fff3f3;
    border-radius: 4px;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.5px;
    margin-right: 8px;
    text-transform: uppercase;
  }
  .reply {
    a {
      display: inline-block;
      color: #717171;
      font-size: 14px;
      vertical-align: middle;
      @include hover {
        color: $cl2;
      }
      &:active {
        color: $cl3;
      }
    }
    img {
      max-width: 16px;
      margin-right: 8px!important;
      display: inline-block;
    }
  }
}
.post_links {
  padding-bottom: 15px;
  ol {
    font-size: 16px;
    color: $cl;
    @include rwd-min(1025) {
      font-size: 18px;
    }
  }
  p {
    padding-bottom: 5px;
  }
}

.post_content {
  padding-bottom: 30px;
  li {
    padding-bottom: 15px;
  }
  ul {
    padding-left: 30px;
    li {
      &:before {
        width: 6px;
        height: 6px;
        border-radius: 0;
        top: 9px;
      }
    }
  }
}

.vocabulary_words {
  padding-bottom: 40px;
  strong {
    font-weight: 500;
  }
  svg {
    color: #C0C6D1;
    margin: 0 12px;
    font-size: 12px;
  }
  .word_line {
    @include flexbox;
    @include align-items(center);
    padding-bottom: 20px;
  }
  .item {
    font-size: 16px;
    line-height: 24px;
    padding: 8px 16px;
    border-radius: 4px;
    p {
      padding-bottom: 0;
    }
  }
  .original {
    background: #C2FCCF;
    color: #079327;
  }
  .translate {
    background: #F2F2F2;
    color: $tx2;
  }
}

.vocabulary_text {
  code {
    border-radius: 4px;
    background: #F2F2F2;
    padding: 3px 6px;
    position: relative;
    overflow: hidden;
    font-family: $ff;
    span {
      background: #C2FCCF;
      margin: -3px -6px;
      padding: 3px 6px;
    }
  }
}

.sl-icon {
  display: inline-block;
  padding: 15px;
  border: 1px solid #E0E0E0;
  border-radius: 50%;
  position: relative;
  width: 48px;
  height: 48px;
  margin-right: 12px;
  svg {
    height: 21px!important;
    width: 21px!important;
    padding-top: 3px;
    @include center();
  }
}
.sl-count {
  color: $tx!important;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  text-transform: uppercase;
}
.post_like_share {
  padding: 24px 0 32px;
  border-bottom: 1px solid #E0E0E0;
}
.share_buttons {
  a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 18px;
  }
  svg, img {
    width: 21px!important;
    height: 21px;
  }
}

.commentlist {
  .children {
    margin-left: 72px;
  }
  > *:last-of-type {
    padding-bottom: 0;
    margin-bottom: -1px;
    .comment-inner {
      border-bottom: none;
    }
  }
}

.comment {
  .comment-inner {
    border-bottom: 1px solid #E0E0E0;
  }
}

.comment-post {
  @include flexbox;
  @include align-items(flex-start);
  @include justify-content(flex-start);
  padding: 30px 0 0;
}

.comment-inner {
  width: 100%;
  padding-bottom: 24px;
}

.comment-avatar {
  min-width: 56px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 16px;
}

.comment-author-name {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.comment-post-time {
  display: block;
  color: #717171;
  font-size: 12px;
  line-height: 16px;
  padding-bottom: 7px;

}

.comment_text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  p {
    padding-bottom: 10px;
  }
}

.cancel-comment-reply {
  display: none;
}

#form_com_new {
  padding: 57px 0 120px;
  border-top: 1px solid #E0E0E0;
  h5 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    padding-bottom: 20px;
    letter-spacing: 0.5px;
  }
  input {
    width: 100%;
  }
  textarea {
    min-height: 104px;
    padding: 10px 0.5rem;
    line-height: 1.4;
    resize: none;
    max-width: 100%;
  }
  .form_line {
    margin-bottom: 16px;
  }
}


/* Blog */
.blog, .archive {
  h2 {
    padding: 20px 0 25px;
    @include rwd-min(1025) {
      padding: 17px 0 23px;
    }
  }
  .posts {
    @include flexbox;
    @include flex-wrap(wrap);
    margin: 0 -12px;
  }
  h4 {
    @extend %ani;
    font-weight: 700;
    color: #000;
    padding-top: 5px;
    @include rwd-max(1024) {
      padding-bottom: 10px;
    }
    @include rwd-max(767) {
      font-size: 18px;
      font-weight: 500;
    }
    a {
      color: inherit;
      @include hover {
        color: $cl;
      }
    }
  }
  h5 {
    @extend %ani;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: #000;
    padding: 10px 0;
    a {
      color: inherit;
      @include hover {
        color: $cl;
      }
    }
  }
  .blog__post {
    margin: 0 12px 40px;
    color: #717171;
    width: 100%;
    @include rwd-min(768) {
      width: calc(50% - 24px);
    }
    img {
      @extend %ani;
      border-radius: 8px;
    }
  }
  .first_post {
    width: 100%;
  }
  .thumb {
    display: block;
    margin-bottom: 12px;
    border-radius: 10px;
    overflow: hidden;
    @include hover {
      img {
        transform: scale(1.1);
      }
    }
  }
  .cats {
    color: $cl;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
  }
  time {
    padding-left: 16px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: 500;
    color: #A9A9A9;
  }
  .blog__post_info, .blog__post_info2 {
    @include flexbox;
    @include align-items(center);
  }
  .blog__post_info2 {
    color: #A9A9A9;
    padding-top: 13px;
    svg, img {
      color: inherit;
      max-height: 13px;
      max-width: 13px;
      margin-right: 5px;
    }
    > div {
      margin-right: 12px;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.5px;
    }
    .post-views {
      @include flexbox;
      @include align-items(center);
    }
  }
  .wp-pagenavi {
    width: 100%;
    text-align: center;
  }
}

.post_user {
  @include justify-content(flex-start);
  padding-top: 30px;
  img {
    width: 50px!important;
    height: 50px!important;
  }
  h3 {
    margin-left: 20px;
  }
}