.flex_text_video {
  @include rwd-min(768) {
    padding: 55px 0 65px;
  }

  .flex__mob {
    @include justify-content(space-between);
    @include rwd-min(768) {
      @include flex-direction(row-reverse);
    }
  }

  .half_video {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 360px;
    @include rwd-min(768) {
      width: 45.66%;
      margin-left: 5.3%;
    }
    @include rwd-max(767) {
      margin-bottom: 35px;
    }
  }

  .half_text {
    @include flex(1);
    h2 {
      padding-bottom: 10px;
    }
    blockquote {
      font-style: italic;
      background: #eef0f3;
      border-left: 4px #C0C6D1 solid;
      margin-bottom: 30px;
      padding: 15px;
      @include rwd-min(1025) {
        font-size: 18px;
        padding: 20px 24px;
        margin-bottom: 15px;
      }
      @extend .last_no_spacing;
      p {
        line-height: 1.55;
      }
    }
    h5 {
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.5px;
      @include rwd-min(1025) {
        font-size: 20px;
        font-weight: 700;
      }
      @include rwd-max(1024) {
        text-align: center;
      }
    }
  }
}

.why_we__more_info {
  padding-bottom: 30px;
  @include rwd-min(1025) {
    background-color: #f3f6f8;
    font-size: 18px;
    padding: 55px 0 30px;
  }

  .container {
    width: 588px;
  }

  h4 {
    font-weight: 500;
    @include rwd-max(1024) {
      font-size: 18px;
    }
  }

  p {
    @include rwd-min(1025) {
      padding-bottom: rem(30);
    }
  }
}

.def_video_popup {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  &:after {
    content: '';
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .play_icon {
    padding: 16px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    margin: 0 auto 12px;
    @include center();
    @include transition();
    z-index: 1;
    @include rwd-min(1025) {
      padding: 22px;
    }
    @include hover {
      background: rgba(255, 255, 255, .25);
    }
    img {
      @include rwd-max(1024) {
        height: 37px;
      }
    }
  }
}

.trial_lesson_row {
  text-align: center;
  background: url('../images/texture_2_1.jpg') no-repeat 50% 50%/cover;
  padding: 45px 0 65px;
  @include rwd-min(1025) {
    padding: 70px 0 80px;
  }
  .form_line {
    @include rwd-min(768) {
      display: inline-block;
      max-width: 200px;
    }
  }

  .container {
    width: 744px;
  }
  p {
    padding-bottom: 10px;
  }
  h4 {
    font-weight: 500;
    margin-bottom: 15px;
    @include rwd-min(1025) {
      margin-bottom: 30px;
    }
    @include rwd-max(1024) {
      font-size: 18px;
    }
  }
  .button {
    @include rwd-max(767) {
      display: block;
      width: 100%;
    }
  }
  div.wpcf7 .wpcf7-form-control-wrap {
    margin-bottom: 15px;
  }
}

.ww_trial_lesson {
  @include rwd-min(1025) {
    background: url('../images/texture_2.jpg') no-repeat 50% 50%/cover;
  }
}