.reviews_breadcrumbs {
  background-color: #f9f9ff;
}

.reviews {
  background-color: #f9f9ff;
  padding: 30px 0 50px;
  @include rwd-min(1025) {
    padding: 65px 0;
  }
  h2 {
    text-align: center;
    padding-bottom: 15px;
    @include rwd-min(1025) {
      padding-bottom: 40px;
    }
  }

  .wrap_reviews_slider {
    position: relative;
    .rev_slider_nav {
      @include center(false, true);
      z-index: 9;
      cursor: pointer;
      &.nav_left {
        left: 6%;
      }
      &.nav_right {
        right: 6%;
      }
      @include rwd-max(1024) {
        display: none;
      }
    }
  }

  .swiper-container {
    @include rwd-min(1025) {
      &:before, &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 9;
        width: 400px;
      }
      &:before {
        content: '';
        box-shadow: inset 250px 0 200px -140px rgba(255, 255, 255, 1);
        left: 0;
      }
      &:after {
        content: '';
        box-shadow: inset -250px 0 200px -140px rgba(255, 255, 255, 1);
        right: 0;
      }
    }
  }

  .swiper-slide {
    max-width: 280px;
    @include rwd-min(767) {
      max-width: 588px;
    }
  }

  .review_author_info {
    background-color: #ededed;
    border-radius: 8px 8px 0px 0px;
    padding: 14px 20px;
  }

  .flex {
    @include justify-content(flex-start);
  }

  .author_logo {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 8px;
    @include rwd-min(1025) {
      height: 68px;
      width: 68px;
    }
  }

  .author_name {
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #000000;
    margin-bottom: 3px;
  }

  .author_goal {
    font-size: 12px;
    letter-spacing: 0.4px;
    margin-bottom: 3px;
    @include rwd-max(767) {
      display: none;
    }

    span {
      color: #e31e24;
      @include rwd-max(767) {
        display: block;
        font-weight: 500;
      }
    }
  }

  .author_goal_mob {
    display: block;
    border-top: 1px solid rgba(169, 169, 169, 0.2);
    margin-top: 10px;
    padding-top: 5px;
    @include rwd-min(768) {
      display: none;
    }
  }

  .author_soc_media {
    a {
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
    }
  }

  .review_info {
    background-color: #ffffff;
    font-size: 14px;
    padding: 20px;
    border: 1px solid #EDEDED;
    border-radius: 0px 0px 8px 8px;
    .full_review {
      display: none;
      font-weight: 500;
      margin-top: 10px;
      color: $cl;
      cursor: pointer;
      @include transition();
      @include hover {
        color: $cl3;
      }
      .hide_rev {
        display: none;
      }
      &.active {
        .show_rev {
          display: none;
        }
        .hide_rev {
          display: block;
        }
      }
    }

    p {
      padding-bottom: 0;

      &.hide_txt {
        height: 105px;
        overflow: hidden;
      }
    }
  }
  .def_video_popup {
    margin-top: 10px;
  }
}

.leave_review {
  text-align: center;
  padding: 50px 0;
  @include rwd-min(1025) {
    padding: 90px 0 100px;
  }

  .container {
    width: 384px;
  }

  h4 {
    font-weight: 500;
    text-align: center;
    margin-bottom: 15px;
  }

  .wpcf7-form {
    .flex > * {
      width: 49%;
    }
  }

  .button {
    display: block;
    width: 100%;
  }

  select {
    width: 100%;
  }

  .selectric-wrapper {
    text-align: left;
  }

  .rev_upload_img {
    cursor: pointer;
    display: inline-block;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
    background: #F3F6F8;
    border: 1px solid #C0C6D1;
    position: relative;
    margin-bottom: 15px;
    @include transition();
    @include rwd-min(1025) {
      margin-bottom: 25px;
      height: 96px;
      width: 96px;
    }

    &:after {
      content: '';
      background-image: url('../images/camera.svg');
      background-size: cover;
      height: 40px;
      width: 40px;
      @include center();
    }

    @include hover {
      opacity: 0.8;
    }

    &.added:before {
      content: '\f058';
      font-family: "Font Awesome 5 Free";
      font-size: 36px;
      color: $cl;
      background: rgba(0, 0, 0, 0.85);
      height: 100%;
      width: 100%;
      @include center();
      z-index: 12;
      @include rwd-min(1025) {
        line-height: 92px;
      }
    }
  }

  #message {
    display: none;
  }

  #acf-form {
    height: 0;
    width: 0;
    overflow: hidden;
  }
}

#thanks_for_review {
  display: none;
  max-width: 300px;
  padding: 20px 20px 30px;
  text-align: center;
  @include rwd-min(1025) {
    max-width: 400px;
    padding: 25px 40px 30px;
  }

  h4 {
    font-weight: 500;
    padding-bottom: 5px;
    @include rwd-max(1024) {
      font-size: 18px;
      padding-bottom: 10px;
    }
  }

  h5 {
    font-size: 16px;
    padding-bottom: 25px;
    @include rwd-min(1025) {
      font-size: 18px;
      padding-bottom: 30px;
    }
  }

  .t_r_check {
    height: 112px;
    width: 112px;
    border-radius: 50%;
    margin: 0 auto 30px;
    background-color: $cl;
    position: relative;
    @include rwd-min(1025) {
      margin-bottom: 40px;
    }

    svg {
      @include center();
      color: #ffffff;
      font-size: 48px;
    }
  }

  .button {
    display: block;
    width: 100%;
  }
}

.reviews_buttons {
  text-align: center;
  @include rwd-min(1025) {
    margin: 25px 0 55px;
  }
  .button {
    margin: 0 8px;
    @include rwd-max(540) {
      display: block;
      margin: 0 0 15px;
    }
  }
}