.methodology_sbs {
  text-align: center;
  padding: 60px 0;
  color: #717171;
  @include rwd-min(1025) {
    padding-bottom: 60px;
  }
  h3 {
    color: $tx;
    font-weight: 400;
    font-size: 18px;
    strong {
      color: inherit;
      font-weight: 700;
    }
    @include rwd-min(1025) {
      font-size: 28px;
      letter-spacing: 0.3px;
    }
  }
  .m_steps {
    @include align-items(flex-start);
    padding: 30px 0 20px;
    @include rwd-min(1025) {
      padding: 50px 0;
    }
  }
  .m_step {
    @extend .last_no_spacing;
    @include rwd-max(767) {
      padding-bottom: 30px;
    }
    @include rwd-min(768) {
      max-width: 240px;
    }
    font-size: 14px;
    figure  {
      display: inline-block;
      margin-bottom: 15px;
    }
    h4 {
      color: $tx;
      font-weight: 500;
      font-size: 18px;
    }
  }
  .m_steps_bottom {
    font-size: 18px;
    @extend .last_no_spacing;
  }
}
.more__information {
  padding-bottom: 40px;
}