.top_teachers_content {
  background: url("../images/dots_bg.jpg") repeat;
  padding-bottom: 50px;
  @include rwd-min(1025) {
    padding-bottom: 65px;
  }

  .wrap_top_teachers_content {
    padding-top: 30px;
    @include rwd-min(1025) {
      padding-top: 40px;
    }

    .container {
      width: 730px;
    }
  }

  .buttons {
    margin-top: 40px;
    @include rwd-min(768) {
      margin-top: 50px;
    }

    .button {
      min-width: 262px;
      margin: 0 12px;
      @include rwd-max(767) {
        display: block;
        width: 100%;
        margin: 0 0 8px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  h2 {
    text-align: center;
    padding-bottom: 38px;
    @include rwd-max(767) {
      font-size: 28px;
      letter-spacing: 0.3px;
      padding-bottom: 34px;
    }
  }

  .teacher {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    @include flex-direction(column);
    text-align: center;

    > a {
      display: inline-block;
    }
  }

  .teacher_thumb {
    height: 104px;
    width: 104px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 9px;
    position: relative;
    @include rwd-min(768) {
      height: 120px;
      width: 120px;
    }

    &:after {
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      background-color: transparent;
      @include transition();
    }

    @include hover {
      &:after {
        background-color: rgba(248, 28, 41, 0.3);
      }
    }
  }

  .teacher_name {
    font-weight: 500;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0.3px;
    @include hover {
      color: $cl;
    }
  }

  .swiper-container {
    height: 350px;
    margin-bottom: -40px !important;
    @include rwd-min(768) {
      height: 565px;
    }
    @include rwd-range(767, 481) {
      height: 520px;
    }
  }

  .swiper-slide {
    height: auto;
    width: 164.5px;
    margin-bottom: 40px;
  }
}

.teacher_info {
  display: none;
  width: 792px;
  max-width: 100%;
  border-radius: 8px;
  @include rwd-max(1024) {
    padding: 25px 20px;
    width: 280px;
  }

  &.fancybox-content {
    cursor: auto;
    @include rwd-min(1025) {
      padding: 0;
    }
  }

  .flex__rwd {
    @include align-items(stretch);

    > * {
      @include rwd-min(1025) {
        width: 50%;
      }
    }
  }

  .teacher_details {
    @include rwd-min(1025) {
      background: rgba(242, 242, 242, 0.5);
      padding: 24px 24px 32px;
    }

    > .flex {
      @include justify-content(flex-start);
      margin-bottom: 24px;
    }

    .table_row {
      border-bottom: 1px solid rgba(192, 198, 209, 0.5);
      @include align-items(flex-start);
      padding: 5px 0;
      @include rwd-max(1024) {
        padding: 7px 0;
      }

      &:last-child {
        margin-bottom: 15px;
        @include rwd-min(1025) {
          border-bottom: none;
        }
      }
    }

    .teacher_age {
      font-size: 12px;
      letter-spacing: 0.4px;
      color: #717171;
    }

    .t_title {
      font-size: 12px;
      letter-spacing: 0.4px;
      color: #717171;
      @include rwd-min(1025) {
        width: 40%;
      }
    }

    .t_value {
      font-size: 14px;
      color: #000000;
      @include rwd-min(1025) {
        width: 60%;
      }
    }
  }

  .teacher_box_thumb {
    height: 68px;
    width: 68px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 8px;
  }

  h5 {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #000000;
    padding-bottom: 7px;

    &.rwd_show {
      padding-bottom: 18px;
    }
  }

  .teacher_description {
    font-size: 14px;
    @include rwd-min(1025) {
      padding: 40px 24px 30px;
    }

    h5 {
      font-size: 14px;
    }

    p {
      &:last-child {
        padding-bottom: 0;
        margin-bottom: 20px;
      }

      &.hide_text {
        height: 130px;
        overflow: hidden;
      }
    }
  }

  .def_video_popup {
    margin-bottom: 15px;
    @include rwd-max(1024) {
      border-radius: 6px;
    }

    .play_icon {
      padding: 10px;

      img {
        height: 20px;
      }
    }
  }

  .button {
    display: block;
    width: 100%;
    padding: 0 5px;
  }
  .full_text {
    display: none;
    font-weight: 500;
    margin-bottom: 10px;
    color: $cl;
    cursor: pointer;
    @include transition();
    @include hover {
      color: $cl3;
    }
    .hide_txt {
      display: none;
    }
    &.active {
      .show_txt {
        display: none;
      }
      .hide_txt {
        display: block;
      }
    }
  }
}

.wrap_teacher_slider {
  position: relative;

  .t_slider_nav {
    @include center(false, true);
    z-index: 9;
    cursor: pointer;
    @include rwd-max(767) {
      width: 16px;
    }

    &.nav_left {
      left: 12px;
      @include rwd-min(1025) {
        left: 6%;
      }
    }

    &.nav_right {
      right: 12px;
      @include rwd-min(1025) {
        right: 6%;
      }
    }

  }
}


.teachers_content {
  @extend .last_no_spacing;
  width: 588px;
  padding: 45px 0 55px;
  @include rwd-min(768) {
    padding: 65px 0 115px;
  }

  h2 {
    padding-bottom: 45px;
    @include rwd-max(767) {
      font-size: 28px;
      letter-spacing: 0.3px;
      padding-bottom: 20px;
    }
  }

  h4 {
    font-weight: 500;
    @include rwd-min(768) {
      padding-bottom: 20px;
    }
  }

  p {
    padding-bottom: 20px;
    @include rwd-min(768) {
      padding-bottom: 35px;
    }
  }
}
