//Contact page
.contact_content {
  background-position: 98.5% 45%;
  background-repeat: no-repeat;
  @include rwd-max(1024) {
    background-image: none !important;
  }
  padding: 0 0 65px;
  @include rwd-min(1025) {
    padding: 25px 0 120px;
  }
  .form_box {
    margin-bottom: 55px;
    @include rwd-min(768) {
      width: 364px;
      margin: 0 20px 0 0;
    }
    img {
      margin-bottom: 0;
    }
    h4 {
      font-weight: 500;
      font-size: 18px;
      letter-spacing: 0.5px;
      padding-bottom: 16px;
      @include rwd-min(768) {
        font-size: 24px;
      }
    }
    .button {
      display: block;
      width: 100%;
    }
    .form_line:not(:last-child){
      .wpcf7-form-control-wrap {
        margin-bottom: 15px;
      }
    }
  }
  .contact_boxes {
    @include rwd-min(1025) {
      margin-right: 100px;
    }
    > div {
      min-width: 282px;
      background-color: #ffffff;
      border-radius: 6px;
      border: 1px solid #E0E0E0;
      padding: 23px 25px 30px 30px;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
    h5 {
      font-size: 18px;
      line-height: 1.33;
      font-weight: 500;
      color: #000000;
      margin-bottom: 15px;
    }
    a {
      @include hover {
        color: $cl3;
      }
    }
  }
  .contact_consultation {
    .contact_faces {
      margin-bottom: 15px;
    }
    figure {
      display: inline-block;
      vertical-align: middle;
      height: 48px;
      width: 48px;
      overflow: hidden;
      border-radius: 50%;
      border: 2px solid #FFFFFF;
      &:not(:first-child) {
        margin-left: -12px;
      }
    }
    p {
      padding-bottom: 8px;
    }
  }
  .contact_socials, .contact_messengers {
    a {
      font-size: 22px;
      display: inline-block;
      &:not(:last-child) {
        margin-right: 22px;
      }
    }
  }
}

