/*For teachers*/
.top_for_teachers {
  padding: 14px 0 55px;
  @include rwd-min(1025) {
    padding-top: 18px;
  }
  .container {
    width: 832px;
    text-align: center;
    @extend .last_no_spacing;
  }
  h1 {
    color: #000000;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0.3px;
    padding-bottom: 15px;
    @include rwd-min(1025) {
      font-size: 48px;
      padding-bottom: 18px;
    }
  }
}

.for_teachers_boxes {
  text-align: center;
  margin: 0 -30px 15px;
  @include rwd-min(1025) {
    margin-bottom: 125px;
  }
  @include rwd-range(1024, 768) {
    margin: 0 -15px 125px;
  }
  .box {
    margin: 0 30px;
    font-size: 14px;
    color: #717171;
    @include rwd-max(767) {
      margin-bottom: 50px;
    }
    @include rwd-range(1024, 768) {
      margin: 0 15px;
    }
  }
  img {
    margin: 0 auto 15px;
  }
  h5 {
    font-size: 18px;
    font-weight: 500;
    color: #000000;
  }
}

.bottom_for_teachers {
  margin-bottom: 65px;
  @include rwd-min(768) {
    margin-bottom: 125px;
  }
  .content {
    @include flex(1);
    @extend .last_no_spacing;
    @include rwd-max(767) {
      margin-bottom: 60px;
    }
  }
}

.join_teacher_form {
  width: 385px;
  max-width: 100%;
  margin: 0 auto;
  @include rwd-min(768) {
    margin-left: 10%;
  }
  h4 {
    font-weight: 500;
    color: #000000;
    text-align: center;
    padding-bottom: 15px;
    @include rwd-max(767) {
      font-size: 18px;
    }
  }
  .file-cv {
    height: 0;
    width: 0;
    visibility: hidden;
    opacity: 0;
    margin: 0 !important;
  }
  .fileBox {
    @include transition();
    cursor: pointer;
    font-size: 14px;
    color: #717171;
    margin-bottom: 21px;
    @include hover {
      opacity: .8;
    }
    @include rwd-min(768) {
      background: #F9F9F9;
      border: 1px dashed #C0C6D1;
      border-radius: 8px;
      text-align: center;
      padding: 38px 32px;
      margin-bottom: 24px;
    }
    .title_fileBox {
      font-weight: 500;
      letter-spacing: 0.3px;
      color: $cl;
      margin-bottom: 5px;
      svg {
        margin-right: 5px;
        vertical-align: text-top;
      }
    }
  }
  div.wpcf7 .wpcf7-form-control-wrap {
    margin-bottom: 15px;
  }
  .req {
    color: $cl;
  }
  .button {
    display: block;
    width: 100%;
  }
} 