/*For Partners page*/
.for_partners_title {
  padding-top: 34px;
  @include rwd-min(768) {
    margin-top: 38px;
  }

  h1 {
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0.3px;
    color: #000000;
    padding-bottom: 34px;
    @include rwd-min(768) {
      font-size: 48px;
      padding-bottom: 64px;
    }
  }
}

.for_partners_content {
  .row {
    margin-bottom: 40px;
    @include rwd-min(768) {
      margin-bottom: 60px;
    }

    &:nth-child(even) {
      @include flex-direction(row-reverse);

      figure {
        @include rwd-min(768) {
          margin: 0 0 0 6.66%;
        }
      }
    }
    &:last-of-type {
      margin-bottom: 0;
    }

    figure {
      border-radius: 8px;
      overflow: hidden;
      margin-bottom: 20px;
      @include rwd-min(768) {
        width: 49%;
        margin-right: 6.66%;
      }
    }

    div {
      @include flex(1);
      @extend .last_no_spacing;
    }
  }
}

.for_partners_wyg {
  text-align: center;
  margin: 60px 0;
  @include rwd-min(768) {
    margin: 120px 0;
  }
  .flex_center__mob {
    @include align-items(flex-start);
    margin-top: 35px;
    @include rwd-min(768) {
      margin-top: 70px;
    }
  }
  .item {
    max-width: 282px;
    margin: 0 auto 40px;
    font-size: 14px;
    color: #717171;
    @extend .last_no_spacing;
    @include rwd-min(768) {
      margin: 0 12px 0;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
    img {
      margin: 0 auto 14px;
    }
    h5 {
      font-weight: 500;
      font-size: 18px;
      padding-bottom: 5px;
      color: #000000;
    }
  }
}

.for_partners_contact {
  padding-top: 0;
 .container {
   width: 792px;
 }
  .contact_boxes {
    margin-right: 0;
  }
}