/*FAQ*/
.faq_content {
  padding-top: 18px;
  @include rwd-min(1025) {
    padding-top: 29px;
  }
  h1 {
    font-size: 28px;
    letter-spacing: 0.3px;
    font-weight: 400;
    color: #000000;
    padding-bottom: 34px;
    @include rwd-min(1025) {
      font-size: 42px;
      padding-bottom: 25px;
    }
  }
  article {
    @include flex(1);
  }
  aside {
    width: 348px;
    max-width: 100%;
    margin: 0 auto 65px;
    @include rwd-min(1025) {
      margin-left: 55px;
    }
    h5 {
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      color: #000000;
      padding-bottom: 15px;
      @include rwd-min(1025) {
        text-align: left;
      }
    }
    .button {
      display: block;
      width: 100%;
    }
    div.wpcf7 .wpcf7-form-control-wrap {
      margin-bottom: 15px;
    }
  }
}

.faq_group {
  margin-bottom: 65px;
  @include rwd-min(1025) {
    margin-bottom: 100px;
  }
  .faq_group_title {
    @include align-items(flex-end);
    color: $cl;
    border-bottom: 1px solid $cl;
    padding-bottom: 10px;
    h3 {
      font-size: 24px;
      @include flex(1);
      @include rwd-min(1025) {
        font-size: 28px;
      }
    }
  }
  .open_all_questions {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.3px;
    @include hover {
      color: $cl3;
    }
    .hide_all_q {
      display: none;
    }
    &.opened {
      .show_all_q {
        display: none;
      }
      .hide_all_q {
        display: block;
      }
    }
  }
  .item {
    padding: 30px 0;
    position: relative;
    border-bottom: 1px solid #C0C6D1;
    .faq_question {
      cursor: pointer;
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 0.5px;
      color: #000000;
      @include rwd-min(1025) {
        font-size: 20px;
      }
      span {
        width: 16px;
        height: 16px;
        cursor: pointer;
        position: relative;
        margin-left: 15px;
        @include rwd-min(1025) {
          margin-left: 55px;
        }
        &:after, &:before {
          content: '';
          position: absolute;
          background: $cl;
          @include center();
          width: 16px;
          height: 2px;
          @include transition(all, .35s, ease);
        }
        &:before {
          width: 2px;
          height: 16px;
        }
      }
      &.active {
        span {
          &:after {
            @include transform(translate(-50%, -50%) rotate(180deg));
          }
          &:before {
            @include transform(translate(-50%, -50%) rotate(90deg));
          }
        }
      }
    }
    .faq_answer {
      display: none;
      padding-top: 18px;
      color: #717171;
      &.show {
        display: block;
      }
      p {
        line-height: 1.77;
      }
      @extend .last_no_spacing;
      @include rwd-min(1025) {
        font-size: 18px;
      }
    }
  }
}