/*Trial Lesson*/
.trial_text_video {
  .flex__mob {
    @include flex-direction(row);
  }
  .half_video {
    margin: 0 5.3% 0 0;
  }
  h1 {
    font-size: 42px;
    font-weight: 400;
    padding-bottom: 50px;
    @include rwd-max(1024) {
      font-size: 28px;
      text-align: center;
      padding: 25px;
    }
  }
}

.trial_lesson_stats {
  padding: 40px 0;
  @include rwd-min(1025) {
    padding: 0 0 120px;
  }
  h2 {
    text-align: center;
  }
  h5 {
    font-size: 18px;
    font-weight: 500;
  }
  .trial_lesson_block {
    position: relative;
  }
  .trial_lesson_img {
    margin: 0 auto;
    z-index: 1;
    position: relative;
  }
  .trial_lesson_line {
    font-size: 14px;
    color: #717171;
    background: #fff;
    position: relative;
    @include rwd-max(1024) {
      margin: 0 auto;
      text-align: center;
      padding-bottom: 30px;
    }
    @include rwd-min(1025) {
      max-width: 205px;
    }
    &.Speaking {
      @include rwd-min(1025) {
        @include center(false, true);
        left: 5%;
        margin-top: 20px;
        text-align: right;
        padding-right: 17px;
        > span {
          left: auto;
          right: 0;
        }
        &:before {
          content: url(../images/red.png);
          position: absolute;
          left: 100%;
          top: -1px;
        }
      }
      @include rwd-min(1080) {
        left: 2%;
      }
      @include rwd-min(1130) {
        left: 4%;
      }
      @include rwd-min(1180) {
        left: 6%;
      }
      @include rwd-min(1200) {
        left: 8%;
      }
    }
    &.Vocabulary {
      @include rwd-min(1025) {
        padding-left: 17px;
        position: absolute;
        right: 0;
        top: 170px;
        &:before {
          content: url(../images/purple.png);
          position: absolute;
          right: 100%;
          top: -1px;
        }
      }
      @include rwd-min(1080) {
        right: 2%;
      }
      @include rwd-min(1130) {
        right: 4%;
      }
      @include rwd-min(1180) {
        right: 6%;
      }
      @include rwd-min(1200) {
        right: 9%;
      }
    }
    &.Grammar {
      @include rwd-min(1025) {
        padding-left: 17px;
        position: absolute;
        right: 0;
        top: 300px;
        &:before {
          content: url(../images/blue.png);
          position: absolute;
          right: 100%;
          top: -1px;
        }
      }
      @include rwd-min(1080) {
        right: 2%;
      }
      @include rwd-min(1130) {
        right: 4%;
      }
      @include rwd-min(1180) {
        right: 6%;
      }
      @include rwd-min(1200) {
        right: 9%;
      }
    }
    &.Warm-up {
      @include rwd-min(1025) {
        padding-left: 17px;
        position: absolute;
        right: 0;
        top: 20px;
        &:before {
          content: url(../images/orange.png);
          position: absolute;
          right: 100%;
          top: 11px;
        }
      }
      @include rwd-min(1080) {
        right: 2%;
      }
      @include rwd-min(1130) {
        right: 4%;
      }
      @include rwd-min(1180) {
        right: 6%;
      }
      @include rwd-min(1200) {
        right: 9%;
      }
    }
    &.Sum {
      @include rwd-min(1025) {
        padding-left: 17px;
        position: absolute;
        right: 0;
        top: 430px;
        &:before {
          content: url(../images/green.png);
          position: absolute;
          right: 100%;
          top: -32px;
        }
      }
      @include rwd-min(1080) {
        right: 2%;
      }
      @include rwd-min(1130) {
        right: 4%;
      }
      @include rwd-min(1180) {
        right: 6%;
      }
      @include rwd-min(1200) {
        right: 9%;
      }
    }
    > span {
      width: 8px;
      height: 8px;
      display: inline-block;
      position: absolute;
      top: 8px;
      left: 0;
      border-radius: 50%;
    }
    p {
      padding-bottom: 0;
    }
  }
}

.trial_lesson_text {
  max-width: 800px;
  margin: 0 auto;
}