.single_sales_content {
  padding: 55px 0 60px;
  width: 588px;
  @extend .last_no_spacing;
  @include rwd-min(768) {
    padding: 80px 0 120px;
  }
}

.single_sales_vt {
  padding: 0;
  .half_video {
    margin-top: 15px;
    @include rwd-min(768) {
      margin: 0 5.3% 0 0;
    }
  }
}

.single_sales_hwt {
  text-align: center;
  padding: 60px 0;
  @include rwd-min(1025) {
    padding: 125px 0;
  }
  .hwt_steps {
    padding-top: 20px;
    @include rwd-min(1025) {
      padding-top: 45px;
    }
    @include rwd-max(1024) {
      @include flex-direction(column);
      max-width: 280px;
      margin: 0 auto;
    }
  }
  .hwt_step {
    font-size: 14px;
    position: relative;
    @include rwd-max(1024) {
      margin-bottom: 5px;
    }
    &:not(:last-child):after {
      content: '';
      background-image: url('../images/sales_arrow.svg');
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      width: 64px;
      height: 63px;
      @include rwd-range(1280, 768) {
        width: 68px;
        height: 67px;
      }
      @include rwd-min(1025) {
        width: 78px;
        height: 77px;
        left: calc(100% + 10px);
      }
      @include rwd-max(1024) {
        @include center(false, true);
      }
    }
    img {
      margin: 0 auto 10px;
    }
    &:not(:last-child) {
      width: 180px;
      @include rwd-range(1280, 1025) {
        width: 150px;
      }
      @include rwd-max(1024) {
        width: 132px;
      }
    }
    &:nth-child(odd) {
      @include align-self(flex-start);
      &:after {
        @include rwd-min(1025) {
          top: 100%;
        }
        @include rwd-max(1024) {
          @include transform(matrix(0, 1, 1, 0, 0, 0));
          left: calc(100% + 17px);
        }
      }
    }
    &:nth-child(2) {
      @include rwd-min(1025) {
        margin-bottom: 40px;
      }
      &:after {
        @include rwd-min(1025) {
          @include transform(matrix(0.96, 0.28, 0.28, -0.96, 0, 0));
          bottom: 100%;
        }
        @include rwd-max(1024) {
          transform: rotate(90deg);
          right: calc(100% + 17px);
        }
      }
    }
    &:nth-child(3) {
      @include rwd-max(1024) {
        margin-bottom: 30px;
      }
      &:after {
        @include rwd-min(1025) {
          @include transform(rotate(-13.01deg));
        }
      }
    }
    &:nth-child(even) {
      @include align-self(flex-end);
    }
    &:last-child {
      @include rwd-range(1280, 1025) {
        width: 250px;
      }
    }
  }
}

.single_sales_top {
  color: #ffffff;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(180deg, #000000 0, rgba(86, 0, 0, 0.1) 85.77%);
  }
  > * {
    position: relative;
    z-index: 1;
  }
  @include rwd-min(1025) {
    min-height: 680px;
    @include flexbox();
    @include flex-direction(column);
  }
  #breadcrumbs {
    color: #ffffff;
    margin: 0;
  }
  > .flex__rwd {
    padding: 30px 0 10px;
    width: 988px;
    @include rwd-min(1025) {
      padding: 30px 0 50px;
      @include flex(1);
    }
  }
  .single_sales_top_left {
    width: 410px;
    max-width: 100%;
    @include rwd-max(1024) {
      margin: 0 auto 35px;
      font-size: 14px;
    }
    h2 {
      font-weight: 700;
      padding-bottom: 10px;
      @include rwd-max(1024) {
        font-size: 28px;
      }
    }
    ol {
      list-style: decimal inside;
    }
    h4 {
      @include rwd-max(1024) {
        font-size: 16px;
      }
    }
  }
  .sales_promo_code {
    @include justify-content(flex-start);
    padding: 20px 0 25px;
    #s_p_code {
      background: rgba(255, 255, 255, 0.15);
      border: 1px dashed rgba(255, 255, 255, 0.45);
      font-size: 14px;
      line-height: 46px;
      font-weight: 700;
      letter-spacing: 0.3px;
      text-align: center;
      margin-right: 8px;
      min-width: 250px;
      @include rwd-max(1024) {
        min-width: 220px;
      }
    }
    .button {
      font-size: 14px;
      border-radius: 0;
      text-transform: uppercase;
      @include rwd-max(1024) {
        font-size: 0;
      }
      svg {
        font-size: 14px;
        vertical-align: middle;
        @include rwd-min(1025) {
          margin-right: 10px;
        }
      }
    }
  }
  .sales_counter {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    .days-title, .hours-title, .seconds-title, .minutes-title {
      margin: 0 4px;
      display: inline-block;
      font-size: 14px;
      text-align: center;
      @include rwd-min(1025) {
        margin: 0 8px;
      }
    }
    .days, .hours, .minutes, .seconds {
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);
      font-size: 32px;
      font-weight: 500;
      color: #000000;
      text-align: center;
      background: #ffffff;
      border-radius: 6px;
      width: 64px;
      height: 72px;
      margin-bottom: 10px;
      @include rwd-min(1025) {
        height: 80px;
        width: 80px;
        font-size: 42px;
      }
    }
  }
  .single_sales_top_right {
    text-align: center;
    h4 {
      font-weight: 500;
      padding-bottom: 15px;
    }
  }
  .promo_period {
    margin-top: 30px;
    font-size: 12px;
    color: #ffffff;
    opacity: .8;
    letter-spacing: 0.4px;
  }
  form {
    max-width: 360px;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    margin: 0 auto;
    @include rwd-max(1024) {
      display: none;
    }
    h5 {
      font-weight: 500;
      font-size: 18px;
      color: #000000;
      padding-bottom: 18px;
    }
    mark {
      display: block;
      color: #828282;
      font-size: 14px;
      text-align: center;
      margin: -15px 0 20px;
    }
    .wpcf7-form-control-wrap:not(.goal) {
      margin-bottom: 15px;
    }
    .selectric .label {
      text-align: left;
    }
    .button {
      display: block;
      width: 100%;
    }
  }
  .button.rwd_show {
    display: block;
    width: 100%;
    margin-top: 20px;
  }
  .single_sales_video_review {
    h5 {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 15px;
    }
  }
  .def_video_popup {
    margin: 0 auto;
    height: 272px;
    width: 384px;
    max-width: 100%;
    @include rwd-max(1024) {
      height: 184px;
      width: 280px;
    }
  }
}

/*Sales page*/
.sales_page_content {
  padding: 14px 0 20px;
  @include rwd-min(1025) {
    padding: 17px 0 80px;
  }
}

.tpl_sales_grid {
  @include align-items(flex-start);
  @include flex-wrap(wrap);
  margin-top: 10px;
  .sale_item {
    margin-bottom: 40px;
    @include rwd-min(768) {
      width: 49%;
    }
  }
  .sale_thumb {
    display: block;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 5px;
    height: 160px;
    position: relative;
    @include hover {
      opacity: 0.7;
    }
    @include rwd-min(1025) {
      height: 366px;
    }
    @include rwd-range(1024, 768) {
      height: 260px;
    }
    > span {
      color: #ffffff;
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      background-color: $cl;
      padding: 4px 8px;
      border-radius: 4px;
      position: absolute;
      top: 16px;
      left: 8px;
      @include rwd-min(1025) {
        top: 25px;
        left: 25px;
      }
    }
  }
  .sale_title {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    @include hover {
      color: $cl;
    }
    @include rwd-min(1025) {
      font-size: 24px;
    }
  }
}