.tpl-course {
  h1 {
    color: #000;
  }
  h4 {
    padding-bottom: 7px;
  }
  .half_text {
    color: #363636;
  }
  .goals {
    @include rwd-min(1025) {
      padding: 65px 0;
    }
  }
  .goals_items {
    color: #717171;
    a {
      color: inherit;
      font-size: 14px;
    }
    strong {
      color: $cl;
      vertical-align: middle;
      font-size: 18px;
    }
    img {
      vertical-align: middle;
      display: inline-block;
      margin-right: 7px;
    }
    p {
      padding-bottom: 0;
    }
  }
  .goal_item {
    @include rwd-min(1025) {
      margin: 0 20px;
    }
  }
}
.tpl-course-detail {
  .button_course {
    padding-bottom: 20px;
    @include rwd-min(768) {
      padding-bottom: 40px;
    }
    @include rwd-min(1025) {
      padding-bottom: 100px;
    }
  }
  .payment_text {
    margin: 110px auto 0;
  }
  .tab-content {
    padding-bottom: 25px;
  }
}
.course_top {
  color: #fff;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  }
  > * {
    position: relative;
    z-index: 1;
  }
  #breadcrumbs {
    color: inherit;
  }
  .course_top__inner {
    padding: 0 0 80px;
    @include rwd-min(1025) {
      padding: 150px 0 170px;
    }
  }
}

.course_info {
  padding: 2px 0 60px;
  overflow-x: auto;
}
.course_steps, .course_columns {
  width: 100%;
  min-width: 1150px;
}
.course_steps {
  padding-bottom: 32px;
  margin: 0 -4px;
  .course_step {
    width: 32px;
    line-height: 30px;
    border: 1px solid #C0C6D1;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 500;
    color: $tx2;
    margin: 0 auto;
    background: #fff;
    position: relative;
    z-index: 1;
    cursor: pointer;

  }
  .course_step_wrapper {
    @include flex(1);
    min-width: 128px;
    text-align: center;
    position: relative;
    &:before {
      content: '';
      width: 50%;
      height: 1px;
      background: #C0C6D1;
      position: absolute;
      top: 50%;
      left: 0;
    }
    &:after {
      content: '';
      width: 50%;
      height: 1px;
      background: #C0C6D1;
      position: absolute;
      top: 50%;
      left: 50%;
    }
    &:first-of-type {
      &:before {
        display: none;
      }
    }
    &:last-of-type {
      &:after {
        display: none;
      }
    }
    .fa-check {
      display: none;
    }
    &.prev {
      .course_step {
        background: $cl;
        color: #fff;
        height: 32px;
        border: 1px solid $cl;
      }
      .fa-check {
        display: block;
        margin: 0 auto;
        height: 30px;
      }
      span {
        display: none;
      }
      &:before, &:after {
        height: 4px;
        top: calc(50% - 2px);
        background: $cl;
      }
    }
    &.active {
      &:before {
        height: 4px;
        top: calc(50% - 2px);
        background: $cl;
      }
      .course_step {
        border-color: transparent;
        box-shadow: 0px 0px 0px 2px $cl;
      }
    }
  }
}

.course_popup {
  display: none;
  position: absolute;
  top: 0;
  left: calc(100% + 7px);
  background: #282828;
  padding: 12px 16px;
  border-radius: 8px;
  z-index: 10;
  width: 285px;
  color: #C0C6D1;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  &:before {
    content: '';
    width: 10px;
    height: 10px;
    background: #282828;
    transform: rotate(45deg);
    position: absolute;
    left: -4px;
  }
  .popup_title {
    display: block;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    padding-bottom: 8px;
  }
  .fa-check {
    color: $cl;
  }
  .popup_row {
    @include flexbox;
    &.closed {
      color: #A9A9A9;
      span {
        margin-top: 4px;
      }
      svg  {
        display: none;
      }
      img {
        width: 9px;
        margin: 0 auto;
      }
    }
    &.active {
      img {
        display: none;
      }
    }
    span {
      margin-right: 7px;
      min-width: 11px;
    }
    p {
      padding-bottom: 8px;
    }
  }
}

.course_columns {
  margin: 0 -4px;
  .course_column {
    @include flex(1);
    min-width: 120px;
    background: #F3F6F8;
    box-shadow: inset 0px 0px 4px #E7EBEE;
    border-radius: 6px;
    padding: 8px 7px;
    margin: 0 4px;
    position: relative;
    cursor: pointer;
    &.active {
      box-shadow: inset 0px 0px 0px 1px $cl;
      .course_popup {
        display: block;
      }
    }
    &:last-of-type, &:nth-last-of-type(2) {
      .course_popup {
        left: auto;
        right: calc(100% + 7px);
        &:before {
          left: auto;
          right: -4px;
        }
      }
    }
  }
  .course_column_title {
    @include center(true, false);
    top: -26px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #C0C6D1;
  }
  .course_column_row {
    background: #FFFFFF;
    border-radius: 4px;
    font-size: 12px;
    padding: 14px 6px;
    margin-bottom: 6px;
    color: #A9A9A9;
    &:nth-of-type(6) {
      margin-bottom: 0;
    }
    &.active {
      border: 1px solid #E3BEC1;
      color: $cl;
      .close_icon {
        display: none!important;
      }
    }
    &.closed {
      .close_icon {
        opacity: 0.6!important;
      }
      .check_icon_row, .row_text {
        display: none;
      }
    }
    strong {
      font-size: 14px;
      vertical-align: middle;
    }
    p {
      padding-bottom: 0;
    }
    img {
      height: 14px;
      display: inline-block;
      vertical-align: middle;
    }
    .flex_row {
      vertical-align: middle;
    }
  }
}