.tpl_webinars_grid {
  @include align-items(flex-start);
  @include flex-wrap(wrap);
  margin-top: 10px;
  h2 {
    width: 100%;
    @include order(9);
    &:first-of-type {
      @include order(-10);
    }
  }
  .webinar_item {
    margin-bottom: 40px;
    @include order(10);
    @include rwd-min(768) {
      width: 49%;
    }
  }
  .webinar_thumb {
    display: block;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 5px;
    height: 160px;
    position: relative;
    @include hover {
      opacity: 0.7;
    }
    @include rwd-min(1025) {
      height: 366px;
    }
    @include rwd-range(1024, 768) {
      height: 260px;
    }
    > span {
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      padding: 4px 8px;
      border-radius: 4px;
      position: absolute;
      top: 16px;
      left: 8px;
      @include rwd-min(1025) {
        top: 25px;
        left: 25px;
      }
    }
    .web_date {
      background-color: $cl;
      color: #ffffff;
    }
    .web_time {
      background: #fff;
      color: $cl;
      left: 100px;
      @include rwd-min(1025) {
        left: 120px;
      }
    }
    .expired {
      background: rgba(255, 255, 255, 0.15);
      border: 1px solid rgba(255, 255, 255, 0.5);
      color: #fff;
    }
  }
  .webinar_title {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    @include hover {
      color: $cl;
    }
    @include rwd-min(1025) {
      font-size: 24px;
    }
  }
  .webinar_preview {
    padding-top: 7px;
    color: #717171;
    p:last-of-type {
      padding-bottom: 0;
    }
  }
}
.pagination_lower {
  .wp-pagenavi {
    text-align: center;
    padding-top: 20px;
  }
}

.single-webinars {
  #breadcrumbs {
    padding-bottom: 50px;
    @include rwd-min(1025) {
      padding-bottom: 70px;
    }
  }
  .webinar_section {
    padding-bottom: 60px;
    @include rwd-min(1025) {
      padding-bottom: 120px;
    }
  }
  h2 {
    color: #000;
    padding-bottom: 15px;
    line-height: 1.15;
  }
  .item {
    @include rwd-min(1025) {
      @include flex(1);
    }
  }
  .webinar_info {
    color: #363636;
    max-width: 590px;
    @include rwd-max(1024) {
      margin: 0 auto 30px;
    }
    p {
      @include rwd-min(1025) {
        line-height: 32px;
      }
    }
  }
  .guest_item {
    max-width: 385px;
    margin: 0 auto;
  }
  .guest {
    border: 1px solid #E0E0E0;
    border-radius: 6px;
    font-size: 14px;
    width: 100%;
    padding: 15px;
    margin-bottom: 23px;
    @include rwd-min(1025) {
      font-size: 18px;
    }
    img {
      border-radius: 50%;
      max-width: 80px;
      margin-right: 15px;
    }
    h4 {
      font-size: 18px;
      font-weight: 700;
      padding-bottom: 5px;
      @include rwd-min(768) {
        font-size: 20px;
      }
    }
    p {
      padding-bottom: 0;
    }
    &.expired {
      background: #FFEBD8;
      border: 1px solid #E06C01;
      color: #E06C01;
      h4 {
        color: inherit;
      }
    }
  }
  .webinar_form {
    border: 1px solid #E0E0E0;
    border-radius: 6px;
    padding: 38px 18px 48px;
    margin-bottom: 24px;
    @include rwd-min(1025) {
      padding: 38px 40px 48px;
    }
    h4 {
      text-align: center;
      font-weight: 500;
      font-size: 18px;
      padding-bottom: 15px;
    }
    .button {
      width: 100%;
    }
  }
  .sales_counter {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    .days-title, .hours-title, .seconds-title, .minutes-title {
      margin: 0 4px;
      display: inline-block;
      font-size: 14px;
      text-align: center;
      @include rwd-min(1025) {
        margin: 0 8px;
      }
    }
    .days, .hours, .minutes, .seconds {
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);
      font-size: 32px;
      font-weight: 500;
      color: #fff;
      text-align: center;
      background: #000;
      border-radius: 6px;
      width: 64px;
      height: 72px;
      margin-bottom: 10px;
      @include rwd-min(1025) {
        height: 80px;
        width: 80px;
        font-size: 42px;
      }
    }
  }
  .webinar_countdown {
    text-align: center;
    h4 {
      font-weight: 500;
      padding-bottom: 15px;
    }
  }
}
