.tpl-nanotest {
  padding-top: 78px;
  header {
    background: #fff;
    text-align: center;
    padding: 16px 0;
    font-size: 0;
    a {
      display: inline-block;
    }
  }
  label {
    cursor: pointer;
  }
  h1 {
    padding-bottom: 8px;
    @include rwd-min(1025) {
      padding-bottom: 0;
    }
  }
  .container {
    width: 996px;
    @include rwd-max(1024) {
      max-width: calc(100% - 20px);
    }
    &.is_smaller {
      width: 760px;
    }
  }
  .logo {
    &.is_disabled {
      cursor: default;
      pointer-events: none;
    }
  }
  .swiper-slide {
    opacity: 0!important;
    z-index: -1;
    &.swiper-slide-active {
      opacity: 1!important;
      z-index: 1;
    }
  }
  .nanotest_question_text, .nanotest_question_row_title {
    @include rwd-max(1024) {
      text-align: center;
    }
    h4 {
      @include rwd-max(1024) {
        text-align: center;
        font-size: 20px;
      }
    }
  }
  .total_count {
    font-size: 14px;
    line-height: 20px;
    color: #BDBDBD;
    margin-right: 20px;
    min-width: 50px;
    @include rwd-max(1024) {
      display: none;
    }
  }
  .selectric {
    border: none;
    background: #F2F2F2;
    .label {
      color: #717171;
    }
    &.is_changed .label {
      color: #000!important;
    }
  }
  .selectric-items {
    box-shadow: none;
  }
  .selectric-scroll {
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    li {
      &:first-of-type {
        display: none;
      }
      @include hover {
        background: #E0E0E0!important;
      }
    }
  }
  .selectric-items li.selected, .selectric-items li.highlighted {
    background: #E0E0E0!important;
  }
  .selectric .select_arrow:after, .selectric .select_arrow:before {
    width: 6px;
  }
  //.swiper-wrapper {
  //  @include rwd-max(1024) {
  //    max-height: calc(100vh - 78px);
  //    overflow: hidden;
  //  }
  //}
  //.swiper-slide {
  //  @include rwd-max(1024) {
  //    overflow-y: auto;
  //    max-height: calc(100vh - 78px);
  //  }
  //}
}

.nanotest_test, .nanotest_slide_main, .nanotest_slide_last{
  @include flexbox;
  @include flex-direction(column);
  min-height: calc(100vh - 78px);
  @include rwd-min(1025) {
    height: calc(100vh - 78px);
  }
  > .container {
    margin: auto;
    @include rwd-max(1024) {
      padding-top: 20px;
    }
    @include rwd-min(1025) {
      @include flexbox;
      @include justify-content(space-between);
      @include flex-wrap(wrap);
    }
  }
}
.nanotest_slide_last {
  .nanotest_col {
    @include flex(1);
    max-width: 385px;
    @include rwd-max(1024) {
      text-align: center;
    }
  }
  h1 {
    padding-bottom: 15px;
    @include rwd-max(1024) {
      font-weight: 700;
      text-align: center;
    }
  }
  form {
    background: #fff!important;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    max-width: 100%;
    box-sizing: border-box;
    margin-top: 15px;
    padding: 32px 20px;
    @include rwd-min(1025) {
      padding: 32px 40px;
    }
    h5 {
      text-align: center;
      font-weight: 500;
      padding-bottom: 16px;
      font-size: 18px;
    }
    .button {
      width: 100%;
    }
  }
  img {
    margin-top: 20px;
    @include rwd-max(1024) {
      display: none;
    }
  }
  .wpcf7-response-output {
    display: none !important;
  }
}
.nanotest_slider {
  .nanotest_exit {
    width: 100%;
    background: #fff;
    border-top: 1px solid #E0E0E0;
    text-align: center;
    font-size: 14px;
    padding: 5px 0 6px;
    @include rwd-max(1024) {
      margin-top: auto;
    }
    @include rwd-min(1025) {
      padding: 16px 0;
    }
    a {
      color: #BDBDBD;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  button {
    .fa-chevron-right {
      font-size: 10px;
      margin-left: 10px;
    }
  }
}
.nanotest_slide_main {
  @include rwd-max(1024) {
    min-height: calc(100vh - 78px);
    max-height: initial;
  }
  > .container {
    @include rwd-max(1024) {
      margin: auto;
      padding: 20px 0;
    }
  }
  .nanotest_col {
    max-width: 460px;
    @include flex(1);
    @include rwd-max(1024) {
      margin: 0 auto;
      > p {
        text-align: center;
      }
    }
    &:nth-of-type(1) {
      @include rwd-max(1024) {
        text-align: center;
      }
    }
    img {
      padding-top: 15px;
    }
  }
  .fa-chevron-right {
    font-size: 10px;
    margin-left: 10px;
  }
  .nanotest_goal {
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 12px;
    padding: 16px 12px;
    margin-bottom: 16px;
    cursor: pointer;
    @include rwd-min(768) {
      padding: 20px;
    }
    &.active {
      border: 1px solid #F81C29;
      background: #FFF3F3;
      color: #BE000B;
      strong {
        color: #F81C29;
      }
    }
    p {
      padding-bottom: 0;
      &:not(:last-of-type) {
        padding-bottom: 8px;
      }
    }
  }
  .nanotest_exit {
    padding: 5px 0 6px;
    @include rwd-min(1025) {
      padding: 29px 0 30px;
    }
  }
}
.nanotest_goal_radio {
  min-width: 20px;
  height: 20px;
  margin-right: 10px;
  position: relative;
  margin-top: 2px;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */
  span {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #A9A9A9;
    box-sizing: border-box;
  }

  /* When the radio button is checked, add a blue background */
  input:checked ~ span {
    background-color: #F81C29;
    border: 1px solid #F81C29;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  span:after {
    content: "";
    width: 18px;
    height: 18px;
    background-image: url(../images/check_success.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13px;
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  input:checked ~ span:after {
    display: block;
  }
}

.progress_container {
  @include rwd-max(1024) {
    width: 100%;
    max-width: 100%;
  }
}
#nanotest_progress {
  position: fixed;
  left: 0;
  top: 67px;
  width: 100%;
  z-index: 1000;
  opacity: 0;
  @include align-items(center);
  @include rwd-min(1025) {
    position: absolute;
    top: 25px;
  }
  &.active {
    opacity: 1;
  }
  * {
    flex: 1;
  }
  .nanotest_progress_text {
    font-weight: 500;
    font-size: 0;
    line-height: 16px;
    text-transform: uppercase;
    color: #BDBDBD;
    @include rwd-max(1024) {
      width: 4px;
      max-width: 4px;
      min-width: 4px;
    }
    @include rwd-min(1025) {
      margin: 0 6px;
      font-size: 12px;
    }
    &:before {
      content: '';
      width: 4px;
      height: 4px;
      background: #C0C6D1;
      position: absolute;
      top: 6px;
      @include rwd-min(1025) {
        display: none;
      }
    }
    &.active {
      color: $cl;
      &:before {
        background: #BE000B;
      }
    }
  }
  .nanotest_line {
    background: #E0E0E0;
    position: relative;
    height: 4px;
    @include rwd-min(1025) {
      height: 2px;
    }
    &:after {
      content: '';
      height: 100%;
      width: 0;
      top: 0;
      left: 0;
      position: absolute;
      background: $cl;
      @extend %ani;
    }
    &.active {
      &:after {
        width: 100%;
      }
    }
    &[data-line="19"], &[data-line="20"], &[data-line="21"] {
      @include flex(2.7);
    }
  }
  .nanotest_dot {
    width: 4px;
    max-width: 4px;
    height: 4px;
    border-radius: 50%;
    vertical-align: middle;
    background: #BDBDBD;
    @include rwd-max(1024) {
      display: none;
    }
    &.active {
      background: $cl;
    }
  }
}
#vocabulaty {
  .nanotest_progress_text {
    @include rwd-max(1024) {
      display: none;
    }
  }
}

.nanotest_type1 {
  > .container {
    @include flex-wrap(wrap);
  }
  .nanotest_question_text {
    width: 100%;
    color: #828282;
    p {
      padding-bottom: 15px;
      @include rwd-min(1025) {
        padding-bottom: 0;
      }
    }
    h4 {
      font-weight: 500;
      color: #000;
      strong {
        color: #07CC7D;
      }
    }
  }
  .nanotest_question {
    width: 385px;
  }
  .nanotest_question_img {
    width: 100%;
    height: 160px;
    border-radius: 12px;
    border: 1px solid #E0E0E0;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    background-position: center;
    background-size: contain;
    margin-top: 22px;
    @include rwd-min(1025) {
      height: 305px;
    }
  }
}
.nanotest_question {
  @include rwd-max(1024) {
    width: 320px!important;
    max-width: 100%;
    margin: 0 auto;
  }
}
.nanotest_answers {
  width: 320px;
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(center);
  @include rwd-max(1024) {
    max-width: 100%;
    margin: 15px auto 0;
  }
  button {
    @extend %ani;
    display: block;
    font: 400 16px/20px $ff;
    background: #F2F2F2;
    color: #363636;
    padding: 10px 16px;
    margin: 4px 0;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
    @include rwd-min(1025) {
      margin: 8px 0;
      padding: 22px 24px;
    }
    @include hover {
      box-shadow: 0 0 1px 1px #C0C6D1;
    }
    &.active {
      background: #A9A9A9;
    }
  }
}

.nanotest_type2 {
  .nanotest_question_text {
    width: 100%;
    color: #828282;
    @include rwd-min(1025) {
      padding-bottom: 45px;
    }
    p {
      padding-bottom: 15px;
      @include rwd-min(1025) {
        padding-bottom: 0;
      }
    }
  }
  .nanotest_question_row {
    width: 100%;

    @include rwd-max(767) {
      padding-bottom: 20px;
    }
    @include rwd-min(768) {
      @include flexbox;
      @include justify-content(space-between);
      @include align-items(flex-start);
    }
  }
  .nanotest_question_col {
    width: 320px;
    max-width: 100%;
    @include rwd-max(767) {
      position: relative;
      padding: 15px 0;
      margin: 0 auto;
      &:after {
        content: '';
        width: 150vw;
        height: 1px;
        background: #E0E0E0;
        position: absolute;
        left: -50vw;
        bottom: 0;
      }
      &:nth-of-type(1) {
        padding-top: 0;
      }
      &:last-of-type {
        &:after {
          display: none;
        }
      }
    }
    @include rwd-min(768) {
      width: 240px;
    }
  }
  .nanotest_question_col_picture {
    width: 100%;
    height: 176px;
    border-radius: 12px;
    border: 1px solid #E0E0E0;
    position: relative;
    overflow: hidden;
    margin-bottom: 16px;
    background-size: cover;
    background-position: center;
    @include rwd-min(1025) {
      background-size: 0;
    }
    img {
      @include center();
      height: 100%;
      width: auto;
      @include rwd-max(1024) {
        opacity: 0;
      }
    }
  }
}

.nanotest_type3 {
  .nanotest_question_title {
    width: 100%;
    color: #828282;
    padding-bottom: 24px;
    @include rwd-min(1025) {
      padding-bottom: 40px;
    }
  }
  .nanotest_question_text {
    color: #333333;
    line-height: 1.8;
    padding-bottom: 40px;
    font-size: 16px;
    position: relative;
    &:after {
      content: '';
      width: 100vw;
      height: 1px;
      background: #E0E0E0;
      position: absolute;
      left: -10px;
      right: -10px;
      bottom: 20px;
    }
    @include rwd-max(1024) {
      text-align: justify;
    }
    @include rwd-min(1025) {
      font-size: 20px;
      &:after {
        display: none;
      }
    }
    p {
      padding-bottom: 0;
    }
    code {
      font-size: 0;
      font-family: inherit;
      display: inline-block;
      vertical-align: middle;
    }
  }
  .nanotest_question_row {
    @include flexbox;
    @include justify-content(space-between);
    @include flex-wrap(wrap);
    position: relative;
    @include rwd-max(767) {
      padding-bottom: 45px;
    }
  }
  .nanotest_question_row_bg {
    @extend %ani;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(../images/test3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &.active {
      opacity: 0;
      top: 100%;
      height: 0;
    }
  }
  .nanotest_question_row_title {
    width: 100%;
    padding-bottom: 15px;
    h4 {
      font-weight: 500;
    }
  }
  .nanotest_question_item {
    background: #F2F2F2;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    padding: 12px 20px;
    box-sizing: border-box;
    width: 100%;
    @extend %ani;
    @include rwd-max(767) {
      margin-bottom: 8px;
    }
    @include rwd-min(768) {
      width: 31%;
    }
    @include hover {
      box-shadow: 0 0 1px 1px #C0C6D1;
    }
    &.active {
      background: #A9A9A9;
    }
    p {
      padding-bottom: 0;
    }
  }
  .selectric-nanotest_question_select_3 {
    display: inline-block;
    .selectric {
      &.is_changed .label {
        color: #000!important;
      }
      &.select_error {
        box-shadow: 0 0 0 1px red;
      }
      .label {
        height: 32px;
        line-height: 32px;
      }
    }
  }
}
.nanotest_type4 {
  > .container {
    @include flex-wrap(wrap);
  }
  .nanotest_question_title {
    width: 100%;
    color: #828282;
    padding-bottom: 10px;
    @include rwd-max(1024) {
      text-align: center;
    }
    p {
      padding-bottom: 15px;
      @include rwd-min(1025) {
        padding-bottom: 0;
      }
    }
  }
  .nanotest_question_text {
    width: 100%;
    h4 {
      font-weight: 500;
      color: #000;
      @include rwd-max(1024) {
        text-align: justify;
      }
      .vis_hid {
        white-space: nowrap;
      }
      .code {
        border-bottom: 2px solid #07CC7D;
        position: relative;
        color: #fff;
        code {
          position: absolute;
          height: 100%;
          width: 100%;
          left: 0;
          top: 0;
          z-index: 1;
          color: #717171;
          font-family: inherit;
          font-weight: inherit;
        }
      }
    }
  }
  .nanotest_question {
    width: 385px;
  }
  .nanotest_question_img {
    width: 100%;
    border-radius: 12px;
    border: 1px solid #E0E0E0;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    background-position: center;
    background-size: cover;
    margin-top: 22px;
    height: 160px;
    @include rwd-min(768) {
      height: 305px;
      background-size: contain;
    }
  }
  .nanotest_answers {
    @include rwd-max(1024) {
      margin-bottom: 32px;
    }
  }
}

.grammar_type_5 {
  .nanotest_question {
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    height: 160px;
    border-radius: 12px;
    border: 1px solid #E0E0E0;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    background-position: center;
    background-size: cover;
    margin-top: 22px;
    @include rwd-min(768) {
      background-size: contain;
      height: 305px;
    }
  }
  .nanotest_question_text {
    width: auto;
    display: inline-block;
    max-width: 93%;
    text-align: center;
    h4 {
      display: inherit;
    }
  }
  img {
    max-width: 100%;
    height: auto;
    max-height: 150px;
  }
}


.nanotest_type6 {
  > .container {
    @include flex-wrap(wrap);
  }
  .nanotest_question_text {
    width: 100%;
    color: #828282;
    p {
      padding-bottom: 15px;
      @include rwd-min(1025) {
        padding-bottom: 10px;
      }
    }
    h4 {
      font-weight: 500;
      color: #000;
      @include rwd-max(768) {
        text-align: left;
      }
      strong {
        color: #07CC7D;
      }
    }
  }
  .nanotest_question {
    width: 385px;
  }
  .nanotest_question_img {
    width: 100%;
    height: 160px;
    border-radius: 12px;
    border: 1px solid #E0E0E0;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    background-position: center;
    background-size: cover;
    margin-top: 22px;
    @include rwd-min(768) {
      background-size: contain;
      height: 305px;
    }
  }
  .nanotest_answers {
    @include rwd-max(1024) {
      margin-bottom: 32px;
    }
  }
}

.nanotest_type7 {
  .nanotest_question_row {
    width: 100%;
    @include rwd-min(1025) {
      @include flexbox;
      @include justify-content(space-between);
      @include align-items(center);
    }
  }
  .nanotest_question_text {
    width: 100%;
    color: #828282;
    padding-bottom: 0;
    @include rwd-min(1025) {
      padding-bottom: 60px;
    }
    p {
      padding-bottom: 15px;
      @include rwd-min(1025) {
        padding-bottom: 0;
      }
    }
    h4 {
      font-weight: 500;
      color: #000;
      strong {
        color: #07CC7D;
      }
    }
  }
  .nanotest_question {
    width: 385px;
  }
  .nanotest_question_img {
    width: 100%;
    height: 160px;
    border-radius: 12px;
    border: 1px solid #E0E0E0;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    background-position: center;
    background-size: cover;
    @include rwd-min(768) {
      height: 305px;
    }
  }
}

.nanotest_type9 {
  > .container {
    @include flex-wrap(wrap);
  }
  .nanotest_question_text {
    width: 100%;
    color: #828282;
    p {
      padding-bottom: 15px;
      @include rwd-min(1025) {
        padding-bottom: 10px;
      }
    }
    h4 {
      font-weight: 500;
      color: #000;
      strong {
        color: #07CC7D;
      }
    }
  }
  .nanotest_question {
    width: 385px;
  }
  .nanotest_question_img {
    width: 100%;
    height: 160px;
    border-radius: 12px;
    border: 1px solid #E0E0E0;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    background-position: center;
    background-size: cover;
    margin-top: 22px;
    @include rwd-min(768) {
      height: 305px;
    }
  }
}
.listening_type {
  h4 {
    @include rwd-max(1024) {
      text-align: justify;
    }
  }
  .nanotest_question_img {
    background-size: cover;
  }
  .is_disabled {
    button {
      pointer-events: none;
    }
  }
  .nanotest_answers {
    @include rwd-max(1024) {
      padding-bottom: 25px;
      margin-bottom: 0;
      position: relative;
    }
  }
  .button_wrap {
    margin: 4px 0;
    @include rwd-min(1025) {
      position: relative;
      margin: 8px 0;
    }
    button {
      width: 100%;
      box-sizing: border-box;
      margin: 0;
    }
  }
  .button_tooltip {
    @extend %ani;
    box-sizing: border-box;
    position: absolute;
    bottom: 8px;
    background: #282828;
    border-radius: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    text-align: left;
    padding: 16px;
    opacity: 0;
    left: 0;
    @include rwd-min(1025) {
      bottom: 0;
      left: calc(100% + 9px);
      top: 0;
      width: 220px;
    }
    &:before {
      content: '';
      width: 10px;
      height: 10px;
      background: #282828;
      border-radius: 2px;
      position: absolute;
      left: -3px;
      transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
      @include rwd-max(1024) {
        display: none;
      }
    }
    &.visible {
      opacity: 1;
    }
  }
}
.listening_video {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
  @include hover {
    .play_video {
      background: #fff;
      padding: 23px;
      path {
        fill: #07CC7D;
      }
    }
  }
  .invisible {
    opacity: 0;
  }
  video {
    @include center();
    width: auto;
  }
  .play_video {
    padding: 16px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    margin: 0 auto 12px;
    z-index: 1;
    font-size: 0;
    @include center();
   @extend %ani;
  }
  svg {
    height: 37px;
    width: 37px;
    path {
      @extend %ani;
    }
  }
}

#exit_test {
  text-align: center;
  padding: 24px 20px;
  @include rwd-min(768) {
    padding: 24px 40px;
  }
  h4 {
    @include rwd-max(1024) {
      font-size: 24px;
    }
  }
  p {
    color: #363636;
    margin: 50px 0 65px;
    padding-bottom: 0;
  }
  button {
    width: 100%;
    font-size: 18px;
    padding: 0;
  }
  .fancybox-button {
    display: none !important;
  }
  .exit_link_wrapper {
    padding: 20px 0 0;
    a {
      color: $tx;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: .3px;
      line-height: 1.78;
      box-shadow: none;
      @include hover {
        box-shadow: 0 2px #f81c29;
      }
    }
  }
}

#thanks_nano {
  text-align: center;
  padding: 24px 20px;
  @include rwd-min(768) {
    padding: 24px 40px;
  }
  img {
    margin: 0 auto 40px;
  }
  .button {
    width: 100%;
  }
}