.regular-test__breadcrumbs {
  margin-bottom: 20px;
}
.regular-test__home {
  background: linear-gradient(96.34deg, #E8EAFF 0%, #E9F5F8 100%);
  border-radius: 14px;
  margin: 0 0 60px;
  padding: 24px 10px;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  @include rwd-min(768) {
    padding: 25px;
    margin: 0 40px 120px;
  }
  @include rwd-min(1025) {
    padding: 48px 60px 56px;
  }
  &:before {
    content: '';
    width: 158px;
    height: 48px;
    background-image: url(../images/regular_test-pen.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 88px;
    right: 8px;
    mix-blend-mode: multiply;
    opacity: .3;
    @include rwd-max(767) {
      display: none;
    }
  }
  h1 {
    font-size: 24px;
    line-height: 32px;
    @include rwd-max(767) {
      text-align: center;
      font-weight: 700;
    }
    @include rwd-min(768) {
      font-size: 42px;
    }
    & + p {
      @include rwd-max(767) {
        text-align: center;
      }
    }
  }
}
.regular-test__categories {

  @include rwd-min(768) {
    @include flex-grid(5,1%);
  }
}
.regular-test__icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #F2F2F2;
  border: 1px solid #BDBDBD;
  position: relative;
  @include rwd-max(767) {
    margin-right: 12px;
  }
  @include rwd-min(768) {
    margin: 0 auto;
  }
  svg {
    @include center();
  }
}
.regular-test__category {
  margin-bottom: 0;
  background: #FFFFFF;
  border: 1px solid #C0C6D1;
  border-radius: 12px;
  padding: 16px 20px;
  @include rwd-max(767) {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    &:not(:last-of-type) {
      margin-bottom: 16px;
    }
  }
  @include rwd-min(768) {
    padding: 16px 10px 4px;
  }
  h2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.002em;
    @include rwd-max(767) {
      padding: 0;
    }
    @include rwd-min(768) {
      padding: 8px 0;
      text-align: center;
    }
  }
  span {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #717171;
    font-weight: 400;
    z-index: 1;
    opacity: 1;
    @include rwd-max(767) {
      position: absolute;
      top: -30px;
      left: 58px;
    }
    @include rwd-min(768) {
      @include center();
    }
  }
  .hover-block {
    position: relative;
    height: 40px;
    @include rwd-max(767) {
      width: 100%;
      margin-top: 12px;
    }
  }
  .button {
    line-height: 40px;
    min-width: 120px;
    @include rwd-max(767) {
      width: 100%;
    }
    @include rwd-min(768) {
      @include center();
      opacity: 0;
    }
  }
  @include hover {
    background: #FFF3F3;
    border-color: $cl;
    .regular-test__icon {
      background: #FFFFFF;
      border-color: $cl;
    }
    svg {
      path {
        fill: $cl;
      }
    }
    h2 {
      color: $cl;
    }
    span {
      opacity: 0;
    }
    .button {
      opacity: 1;
      z-index: 1;
    }
  }
}
.regular-test__description {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #828282;
  margin: 0 0 60px;
  @include rwd-min(768) {
    column-count: 2;
    column-gap: 24px;
    margin: 0 40px 75px;
  }
  .tax-type_test & {
    margin-left: 0;
    margin-right: 0;
  }
}

.regular-test__title {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #363636;
  padding: 15px 0;
  p {
    &:last-of-type {
      padding-bottom: 0;
    }
  }
}

.regular-test__tests {
  @include flexbox;
  margin-bottom: 120px;
}
.regular-test__tests-cat {
  min-width: 260px;
  background: #F3F6F8;
  border-radius: 6px;
  padding: 16px 24px;
  margin-right: 42px;
  max-height: 520px;
  a {
    font-size: 14px;
    line-height: 20px;
    color: #717171;
    display: block;
    &:not(:last-of-type) {
      margin-bottom: 14px;
    }
    &.is_active {
      color: $cl!important;
      font-weight: 700;
    }
    @include hover {
      color: #000;
    }
  }
}
.regular-test__tests-res {
  width: 100%;
}
.regular-test__tab {
  counter-reset: courses;
  margin: 0 -15px;
  @include flexbox;
  @include flex-wrap(wrap);
  @include justify-content(flex-start);
  a {
    border: 1px solid #C0C6D1;
    border-radius: 12px;
    padding: 26px 16px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .5px;
    color: #000;
    counter-increment: courses;
    width: calc(33.33% - 30px);
    margin: 0 15px 24px;
    @include flexbox;
    @include align-items(center);
    &:before {
      content: '#' counter(courses);
      background: #F7FBFF;
      border: 1px dashed #C0C6D1;
      box-sizing: border-box;
      border-radius: 8px;
      color: #717171;
      width: 40px;
      min-width: 40px;
      line-height: 40px;
      text-align: center;
      display: inline-block;
      margin-right: 12px;
    }
    @include hover {
      background: #FFF3F3;
      border-color: $cl;
      color: $cl;
      &:before {
        border-color: rgba(248, 28, 41, 0.4);
        background: #fff;
        color: $cl;
      }
    }
  }
}

.tests--default {
  background: #F2F2F2;
  border-radius: 8px;
  height: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  min-height: 400px;
  margin-right: 0;
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
  img {
    mix-blend-mode: luminosity;
    opacity: 0.7;
    margin-bottom: 18px;
  }
  p {
    &:last-of-type {
      padding-bottom: 0;
    }
  }
  .hide {
    display: none;
  }
}
.tests--posts {
  display: none;
  &.is_active {
    display: flex;
  }
}

.regular-test__tabber {
  border-bottom: 1px solid #C0C6D1;
  margin-bottom: 18px;
}
.regular-test__top-category {
  font-size: 12px;
  line-height: 45px;
  text-transform: uppercase;
  color: #717171;
  position: relative;
  font-weight: 700;
  margin-right: 32px;
  display: inline-block;
  &:after {
    content: '';
    width: 100%;
    height: 3px;
    background: $cl;
    opacity: 0;
    position: absolute;
    bottom: -2px;
    left: 0;
  }
  &.is_active {
    color: #000;
    &:after {
      opacity: 1;
    }
  }
  @include hover {
    color: #000;
  }
}

.regular-test__tests-drop {
  width: 260px;
  min-width: 260px;
  margin-right: 46px;
}
.regular-test__tests-drop-item {
  margin-bottom: 10px;
}
.regular-test__tests-drop-top {
  border: 1px solid #717171;
  box-sizing: border-box;
  border-radius: 6px;
  font-size: 14px;
  line-height: 40px;
  font-weight: 500;
  color: #000;
  padding: 0 16px;
  cursor: pointer;
  @include flexbox;
  @include justify-content(space-between);
  &.is_active {
    img {
      transform: rotate(90deg);
    }
  }
  img {
    width: 8px;
  }
}
.regular-test__tests-drop-items {
  @extend .regular-test__tests-cat;
  display: none;
}


.single-regular_tests {
  @extend .tpl-nanotest;
  .container.is_smaller {
    @include rwd-max(1024) {
      max-width: 320px;
    }
  }
  header {
    background: #fff;
    text-align: center;
    padding: 16px 0;
    font-size: 0;
    a {
      display: inline-block;
    }
  }
  h4 {
    @include rwd-max(1024) {
      text-align: left!important;
    }
  }
  #regulartest_progress-lines {
    margin-top: 6px;
    padding: 0;
  }
  .nanotest_progress_text {
    @include rwd-max(1024) {
      display: none;
    }
  }
  .vocabulary_type {
    .container.is_tests {
      width: 760px;
    }
  }
  .vocabulary_type_1 {
    .nanotest_question_text {
      margin-bottom: 32px;
      @include rwd-min(1025) {
        margin-bottom: 64px;
      }
    }
    .nanotest_question {
      @include flexbox;
      @include flex-direction(column);
      @include align-items(center);
      @include justify-content(center);
      > * {
        margin: 0;
      }
    }
  }
  .nanotest_question_row {
    margin: 0 auto;
    @include rwd-max(1024) {
      max-width: 320px;
    }
    @include rwd-min(1025) {
      @include flexbox;
      @include justify-content(space-between);
      @include flex-direction(row);
      margin: 0 -8px;
    }
    button {
      color: rgba(54, 54, 54, 0.8);
      margin: 8px 0;
      width: 100%;
      box-sizing: border-box;
      @include rwd-min(1025) {
        @include flex(1);
        margin: 0 8px;
      }
    }
  }
  .nanotest_answers {
    @include rwd-max(1024) {
      display: block;
    }
    button {
      @include rwd-max(1024) {
        width: 100%;
        box-sizing: border-box;
      }
    }
  }
}
#regulartest_progress {
  position: fixed;
  left: 0;
  top: 67px;
  width: 100%;
  z-index: 1000;
  @include align-items(center);
  @include rwd-min(1025) {
    position: absolute;
    top: 25px;
  }
  .nanotest_progress_text {
    font-weight: 500;
    font-size: 0;
    line-height: 16px;
    text-transform: uppercase;
    color: #BDBDBD;
    @include rwd-max(1024) {
      width: 4px;
      max-width: 4px;
      min-width: 4px;
    }
    @include rwd-min(1025) {
      margin: 0 6px;
      font-size: 12px;
    }
    &:before {
      content: '';
      width: 4px;
      height: 4px;
      background: #C0C6D1;
      position: absolute;
      top: 6px;
      @include rwd-min(1025) {
        display: none;
      }
    }
    &.active {
      color: $cl;
      &:before {
        background: #BE000B;
      }
    }
  }
  .nanotest_line {
    background: #E0E0E0;
    position: relative;
    height: 4px;
    @include rwd-min(1025) {
      height: 2px;
    }
    &:after {
      content: '';
      height: 100%;
      width: 0;
      top: 0;
      left: 0;
      position: absolute;
      background: $cl;
      @extend %ani;
    }
    &.active {
      &:after {
        width: 100%;
      }
    }
  }
}
.regular-test__slider {
  @extend .nanotest_slider;
}
#regulartest_progress-lines {
  width: 100%;
  padding: 0 10px;
  @include flexbox;
  span {
    @include flex(1)
  }
}

.regular-test__vocabulary-2 {
  h1,h2,h3,h4,h5 {
    color: #000;
    font-weight: 500;
    margin-top: 8px;
    @include rwd-max(1024) {
      max-width: 320px;
      text-align: left!important;
      margin: 0 auto;
    }
  }
  .nanotest_question_text {
    margib-bottom: 32px;
    @include rwd-min(1025) {
      margin-bottom: 100px;
    }
  }
}
.regular-test__vocabulary-3 {
  .nanotest_question_text {
    width: 100%;
    color: #828282;
    margin-bottom: 30px;
  }
  .nanotest_question {
    width: 100%;
  }
  .nanotest_answers {
    position: relative;
    width: 100%;
  }
  .nanotest_question_row {
    width: 100%;
    @include rwd-min(1025) {
      margin: 0;
      position: absolute;
      left: 0;
      right: 0;
    }
  }
}

.regular-test__sentence {
  box-sizing: border-box;
  width: 100%;
  border-bottom: 2px solid #E0E0E0;
  padding: 10px 0;
  margin-bottom: 48px;
  height: 76px;
  @include rwd-min(1025) {
    height: 96px;
    padding: 16px 0;
  }
}
.sentence_button {
  line-height: 52px;
  padding: 0 16px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 8px;
  color: rgba(54, 54, 54, 0.8);
  font-size: 16px;
  border: 1px solid #E0E0E0;
  @include rwd-min(1025) {
    margin-right: 16px;
    line-height: 64px;
    padding: 0 22px;
  }
  &.completed {
    @include rwd-max(1024) {
      border: none;
    }
    span {
      display: none;
    }
  }
  span {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #F2F2F2;
    background-image: url(../images/close.svg);
    background-size: 9px;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;
    cursor: pointer;
  }
}

.regular-test__vocabulary-row {
  @include flex(1);

  button {
    box-sizing: border-box;
    width: 100%;
    margin: 0 8px;
  }
}
.nanotest_question_block {
  width: 100%;
}
.regular-test__vocabulary-buttons {
  @include rwd-min(1025) {
    @include flexbox;
  }
}

.regular-test__vocabulary-5 {
  h4 {
    @include rwd-max(1024) {
      max-width: 320px;
      margin: 0 auto;
      text-align: left !important;
    }
  }
  .nanotest_question_title {
    @include rwd-min(1025) {
      padding-bottom: 48px;
    }
  }
  .nanotest_question_text {
    @include rwd-min(1025) {
      margin-bottom: 48px;
    }
  }
  .nanotest_question_row {
    width: 100%;
    button {
      padding-top: 0;
      padding-bottom: 0;
      height: 64px;
    }
  }
  .code {
    @include rwd-max(1024) {
      //display: block;
    }
  }
  .nanotest_answers {
    button {
      @include rwd-max(1024) {
        height: 40px!important;
      }
    }
  }
}

.regular-test__grammar-6 {
  h1,h2,h3,h4,h5 {
    color: #000;
    font-weight: 500;
    margin-top: 8px;
  }
  .nanotest_question_text {
    //padding-bottom: 100px;
  }
}

.grammar_type_input {
  .nanotest_question_title {
    color: #828282;
    padding-bottom: 40px;
    @include rwd-max(1024) {
      margin: 0 auto;
      max-width: 320px;
      text-align: center;
    }
  }
  .nanotest_question_text {
    @include rwd-max(1024) {
      max-width: 320px;
      margin: 0 auto;
    }
  }
  h1,h2,h3,h4,h5 {
    color: #000;
    font-weight: 500;
    margin-top: 8px;
    @include rwd-max(1024) {
      text-align: left!important;
      font-size: 24px!important;
    }
  }
  code {
    position: relative;
    @include rwd-max(1024) {
      display: block;
      margin: 15px 0 12px;
    }
    span {
      @extend %ani;
      font-weight: 500;
      font-size: 24px;
      font-family: $ff;
      line-height: 1.3;
      color: #BDBDBD;
      position: absolute;
      left: 0;
      bottom: 0;
      &.is_focused {
        bottom: 100%;
        font-size: 14px;
        line-height: 20px;
      }
    }
    input {
      border: none!important;
      border-bottom: 2px solid #07cc7d!important;
      display: inline-block!important;
      width: auto;
      border-radius: 0!important;
      font-size: 24px!important;
      line-height: inherit!important;
      padding: 0!important;
      color: #717171!important;
      font-weight: inherit!important;
      height: auto!important;
    }
  }
}

.grammar_type_mistake {
  .container.is_smaller {
    @include rwd-max(1024) {
      max-width: 320px;
    }
  }
  .nanotest_question_title {
    color: #828282;
    padding-bottom: 40px;
    @include rwd-min(1025) {
      padding-bottom: 80px;
    }
  }
  .nanotest_question_text {
    margin: 0 -2px;
    width: 100%;
    @include rwd-max(1024) {
      text-align: left;
    }
    button {
      @extend %ani;
      padding: 6px;
      margin: 0 12px 24px 0;
      color: #000;
      font-size: 18px;
      font-weight: 500;
      border: 1px solid #E0E0E0;
      border-radius: 6px;
      font-family: $ff;
      cursor: pointer;
      line-height: 1.2;
      @include rwd-min(1025) {
        margin: 0 2px;
      }
      @include hover {
        background: #828282;
        color: #fff;
      }
      &.is_active {
        background: #828282;
        color: #fff;
      }
    }
  }
}

.regular-test__text {
  @include rwd-min(1025) {
    margin-top: 137px;
  }
  h1,h2,h3,h4,h5 {
    color: #000;
    font-weight: 500;
    margin-top: 8px;
    padding-bottom: 24px;
    @include rwd-min(1025) {
      padding-bottom: 40px;
    }
  }
  .nanotest_question_title {
    color: #828282;
    @include rwd-max(1024) {
      text-align: center;
    }
    p:last-of-type {
      padding-bottom: 0;
    }
  }
  .nanotest_test {
    height: auto;
  }
  .nanotest_question_text {
    font-size: 16px;
    margin-bottom: 50px;
    @include rwd-max(1024) {
      text-align: left;
    }
    @include rwd-min(1025) {
      font-size: 20px;
      margin-bottom: 80px;
    }
    p:not(:last-of-type) {
      @include rwd-min(1025) {
        margin-bottom: 40px;
      }
    }
  }
}

.regular-test__show-text {
  border: 1px solid #C0C6D1;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  min-width: 148px;
  margin-left: 20px;
  box-sizing: border-box;
  i {
    display: inline-block;
    width: 13px;
    height: 12px;
    background-image: url(../images/book.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    vertical-align: middle;
    margin-right: 8px;
  }
  b {
    font-size: 12px;
    line-height: 2;
    letter-spacing: .2px;
    vertical-align: middle;
  }
}

#regular-test__text {
  max-width: 680px!important;
  padding-right: 30px;
  h4 {
    position: absolute;
    left: 50%;
    top: 40px;
    transform: translateX(-50%);
    @include rwd-max(1024) {
      font-size: 24px;
      padding-bottom: 32px;
    }
  }
  p {
    padding-right: 10px;
  }
}
.regular-test__text-inner {
    margin-top: 70px;
    max-height: 50vh;
    overflow: auto;
}

.regular-test__text-row-boolean {
  .nanotest_question_row {
    @include justify-content(flex-start);
    button {
      box-sizing: border-box;
      @include rwd-min(1025) {
        max-width: 253px;
      }
    }
  }
  .nanotest_question_title {
    color: #828282;
    @include rwd-max(1024) {
      max-width: 320px;
      margin: 0 auto;
    }
  }
  .nanotest_question_text {
    @include rwd-max(1024) {
      @include flex-direction(column);
      @include align-items(flex-start);
    }
  }
  .nanotest_question_text__inner {
    @include rwd-max(1024) {
      max-width: 320px;
      margin: 0 auto;
    }
    h4 {
      @include rwd-max(1024) {
        text-align: left;
      }
    }
  }
  .regular-test__show-text {
    @include rwd-max(1024) {
      order: -1;
      margin-left: 0;
    }
  }
}

.regular-test__text-selects {
  @include rwd-min(1025) {
    //margin-top: 137px;
  }
  .nanotest_test {
    height: auto;
  }
  .nanotest_question_title {
    color: #828282;
    @include rwd-max(1024) {
      text-align: center;
    }
    p:last-of-type {
      padding-bottom: 0;
    }
  }
  h1,h2,h3,h4,h5 {
    color: #000;
    font-weight: 500;
    margin-top: 8px;
    padding-bottom: 40px;
  }
  .nanotest_question_text {
    color: #333333;
    font-size: 16px;
    margin-bottom: 40px;
    line-height: 2.3;
    @include rwd-max(1024) {
      text-align: left;
    }
    @include rwd-min(1025) {
      font-size: 20px;
      margin-bottom: 80px;
      line-height: 1.8;
    }
    p {
      font-size: inherit;
      line-height: inherit;
    }
  }
  .selectric-wrapper {
    display: inline-block;
    vertical-align: middle;
    @include rwd-max(1024) {
      max-width: 320px;
    }
  }
  .selectric {
    &.is_changed {
      background: #BDBDBD;
      .label {
        color: #000!important;
      }
    }
    &.select_error {
      box-shadow: 0 0 0 1px red;
    }
    .label {
      height: auto;
      line-height: 1.3;
      padding: 7px 0;
      @include rwd-max(1024) {
        white-space: normal;
      }
      @include rwd-min(1025) {
        //height: 32px;
        //line-height: 32px;
      }
    }
    .button {
      display: none;
    }
  }
  .selectric-items {
    min-width: 300px;
    @include rwd-min(1025) {
      min-width: 400px;
    }
    li {
      @include flexbox();
      @include align-items(flex-start);
      &:before {
        font-weight: 500;
        margin-right: 14px;
        display: inline-block;
      }
      &[data-index="1"] {
        &:before {
          content: 'A';
        }
      }
      &[data-index="2"] {
        &:before {
          content: 'B';
        }
      }
      &[data-index="3"] {
        &:before {
          content: 'C';
        }
      }
      &[data-index="4"] {
        &:before {
          content: 'D';
        }
      }
      &[data-index="5"] {
        &:before {
          content: 'E';
        }
      }
      &[data-index="6"] {
        &:before {
          content: 'F';
        }
      }
      &[data-index="7"] {
        &:before {
          content: 'G';
        }
      }
      &[data-index="8"] {
        &:before {
          content: 'H';
        }
      }
      &[data-index="9"] {
        &:before {
          content: 'I';
        }
      }
      &[data-index="10"] {
        &:before {
          content: 'J';
        }
      }
      &[data-index="11"] {
        &:before {
          content: 'K';
        }
      }
      &[data-index="12"] {
        &:before {
          content: 'L';
        }
      }
      &[data-index="13"] {
        &:before {
          content: 'M';
        }
      }
      &[data-index="14"] {
        &:before {
          content: 'N';
        }
      }
      &[data-index="15"] {
        &:before {
          content: 'O';
        }
      }
      &[data-index="16"] {
        &:before {
          content: 'P';
        }
      }
      &[data-index="17"] {
        &:before {
          content: 'Q';
        }
      }
      &[data-index="18"] {
        &:before {
          content: 'R';
        }
      }
      &[data-index="19"] {
        &:before {
          content: 'S';
        }
      }
      &[data-index="20"] {
        &:before {
          content: 'T';
        }
      }
    }
  }
}
.regular-test__text-row-multiply {
  .nanotest_question_block {
    @extend .nanotest_answers;
    width: 100%;
    button.is_disabled {
      pointer-events: none!important;
    }
  }
  .nanotest_question_text {
    margin-bottom: 20px;
    @include rwd-max(1024) {
      @include flex-direction(column);
      @include align-items(flex-start);
    }
  }
  .regular-test__show-text {
    @include rwd-max(1024) {
      order: -1;
      margin: 0;
    }
  }
  .nanotest_question_title {
    color: #828282;
    @include rwd-max(1024) {
      text-align: center;
      margin-bottom: 20px;
    }
    p:last-of-type {
      padding-bottom: 0;
    }
  }
}
.finish_test {
  text-decoration: none!important;
  color: #fff!important;
  .fa-chevron-right {
    margin-left: 10px;
    font-size: 10px;
  }
}
.regular-test__create-row {
  .is_tests {
    display: block;
  }
  .regular-test__sentence {
    @include rwd-max(1024) {
      height: auto;
    }
    @include rwd-min(1025) {
      @include flexbox;
    }
  }
  .sentence_button {
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    width: 100%;
    @include rwd-min(1025) {
      height: 64px;
      width: 25%;
    }
    &.completed {
      @include rwd-max(1024) {
        display: inline;
        width: auto;
        padding: 0 5px 16px 0;
        height: auto;
        line-height: 32px;
      }
    }
    &:last-of-type {
      margin-right: 0;
    }
    i {
      text-align: center;
      font-style: normal;
    }
    span {
      min-width: 24px;
    }
  }
  .nanotest_question_text {
    color: #828282;
  }
  .nanotest_answers {
    width: 100%;
  }
  .nanotest_question_row {
    @include justify-content(flex-start);
    button {
      padding: 0 10px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      @include flex(0,0, calc(25% - 16px));
      @include rwd-min(1025) {
        height: 64px;

      }
    }
  }
}

.regular-test__text-block {
  .nanotest_question_text {
    @include rwd-max(1024) {
      @include flex-direction(column);
      @include align-items(flex-start);
    }
    .regular-test__show-text {
      @include rwd-max(1024) {
        order: -1;
        margin-left: 0;
        margin-bottom: 5px;
      }
    }
  }
}

.regular-test__filtering-mob {
  padding: 32px 20px;
  border: 1px solid #f2f2f2;
  border-radius: 6px;
  margin-bottom: 64px;
  visibility: hidden;
  &.is_loaded {
    visibility: visible;
  }
  p {
    padding-bottom: 8px;
    font-size: 14px;
    color: #363636;
  }
  .selectric-wrapper {
    margin-bottom: 24px;
  }
  .selectric {
    background: #F2F2F2;
    border: none;
    .label {
      color: #000;
      height: 40px;
      line-height: 40px;
    }
  }
  .selectric-items {
    .selectric-scroll {
      background: #F3F6F8;
    }
    li {
      &,
      &.selected,
      &.highlighted {
        background: transparent;
        color: #000;
        font-size: 14px;
      }
      &:before,
      &:after, {
        display: none;
      }
    }
  }
  .selectric-items ul {
    padding-bottom: 0;
  }
  .regular-test__filtering-submit {
    width: 100%;
  }
  .is_filled {
    .label {
      color: #000;
    }
  }
}
.selectric-regular-test__filtering-select {
  .label {
    color: #717171!important;
  }
  &.is_filled {
    .label {
      color: #000!important;
    }
  }
  li {
    &[data-index="0"] {
      display: none;
    }
  }
}

.regular-test__mob-posts,
.regular-test__mob-themes {
  &.is_disabled {
    pointer-events: none;
  }
}