.tpl-regular-test-thanks {
  .goals_text {
    max-width: 550px;
  }
  .regular-test__result {
    background: linear-gradient(96.34deg, #e8eaff 0%, #e9f5f8 100%);
    border-radius: 14px;
    margin: 0 0 70px;
    padding: 24px 10px;
    font-size: 16px;
    @include rwd-min(1025) {
      padding: 48px 100px 56px 60px;
      margin: 19px 40px 120px;
    }
    h2 {
      font-weight: 700;
      padding-bottom: 24px;
      @include rwd-max(1024) {
        text-align: center;
        font-size: 24px;
      }
      @include rwd-min(1025) {
        padding-bottom: 32px;
      }
    }
  }
  .button.white {
    color: #000;
    background: #fff;
    margin-top: 22px;
    @include rwd-max(1024) {
      width: 100%;
    }
    @include hover {
      background: $cl2;
      color: #fff;
    }
  }
  .goals {
    padding: 0 0 60px;
    @include rwd-min(1025) {
      padding: 0 0 80px;
    }
  }

}

#regular-test__detail {
  form > .wpcf7-form-control-wrap {
    display: none;
  }
}

.regular-test__breadcrumbs {
  padding-bottom: 39px;
}

.regular-test__result_back {
  text-align: center;
  img {
    @include rwd-max(1024) {
      display: none;
    }
    max-width: 312px;
  }
}
.regular-test__result-row {
  letter-spacing: .4px;
  padding-bottom: 8px;
  line-height: 1.25;
  b {
    font-weight: 500;
    .is_error & {
      color: $cl;
    }
  }
}

#regular-test__result {
  padding: 24px 20px 32px;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 6px;
  @include rwd-min(1025) {
    padding: 24px 40px 32px;
  }
  h5 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 24px;
  }
  button {
    margin-top: 14px;
    @include rwd-max(1024) {
      width: 100%;
      padding: 0 4px;
    }
  }
}